<gmat-page>
    <div class="content-page">
        <div class="d-flex align-items-center content-login-account animated slideInRight">
            <p class="text-have-account m-0">Already have an account?</p>
            <a routerLink="/" class="btn btn-signUp">
                <img src="./assets/img/icon_login.png" class="img-fluid img-login"
                    style="margin-right: 10px;display: none;" width="25">
                <img src="./assets/img/loginblue.png" class="img-fluid img-login-color" style="margin-right: 10px;"
                    width="25">
                Log In
            </a>
        </div>

        <div class="d-flex justify-content-center align-items-center" style="height:100vh;" [formGroup]="form">
            <div class="content-recoverkey">
                <div class="row mt-5" *ngIf="alert">
                    <div class="col-md-12">
                        <alert [type]="alert.type">
                            <strong [innerHtml]="alert.title"></strong>
                            <span [innerHtml]="alert.msg"></span>
                        </alert>
                    </div>
                </div>
                <div class="form-group animated fadeInLeft">
                    <div class="icon-addon addon-md d-block position-relative">
                        <gmat-control-messages [control]="form.controls.email">
                            <label for="email" class="label-login">Email</label>
                            <input type="text" class="form-control" formControlName="email" appTrimGmat="email">
                        </gmat-control-messages>
                    </div>
                </div>
                <div class="animated fadeInLeft">
                    <button type="button" class="btn btnYellowCommon" (click)="recoverkey()">Send Password Reset
                        Link</button>
                </div>
            </div>
        </div>
    </div>
</gmat-page>