<div class="container animated zoomInUp" [formGroup]="form">
    <div class="flex-fill pt-5 pb-5">
        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="col-md-6 d-flex justify-content-center mt-3 mb-3" [ngClass]="ngClassExam()" *ngFor="let item of listConfigs; let i = index">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="mb-2 cont-checkbox cont-checkbox2 d-flex justify-content-center align-items-center">
                        <input type="radio" [id]="item.id" formControlName="code" [value]="renderValue(item.id)" />
                        <label [for]="item.id"><span></span></label>
                    </div>
                    <p class="text-level ml-3 m-0" style="min-height: auto!important;">{{ item.name }}</p>
                </div>
                <div class="content-options">
                    <div class="" *ngFor="let option of listConfigs[i].detail">
                        - {{option.sectionName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <a class="btn btnYellow" (click)="onClickStart()">Start</a>
    </div>
</div>