<div class="container container-component">
    <h4 class="color-title title-page mb-4 animated fadeInDown">Manage Questions</h4>
    <div class="row" [formGroup]="form">
        <div class="col-md-12">
            <app-alert-message [setting]="settingAlert"></app-alert-message>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12  animated fadeIn" *ngIf="show">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group d-flex justify-content-start align-items-center mb-0">
                                <gmat-control-messages [control]="form.get('nodeName')">
                                    <input type="text" class="form-control form-gmat-control" formControlName="nodeName">
                                </gmat-control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 animated fadeIn">
                    <gmat-control-messages [control]="form.get('sectionId')">
                        <h5 class="title-gmat-primary">Section</h5>
                        <gmat-combobox-select formControlName="sectionId" [data]="sections" (change)="onChangeSections($event.target.value)"></gmat-combobox-select>
                    </gmat-control-messages>
                </div>
                <div class="form-group col-md-3 animated fadeIn" *ngIf="topics?.length != 0">
                    <gmat-control-messages [control]="form.get('topicId')">
                        <h5 class="title-gmat-primary">Topics</h5>
                        <gmat-combobox-select formControlName="topicId" [data]="topics" (change)="onChangeTopics($event.target.value)"></gmat-combobox-select>
                    </gmat-control-messages>
                </div>
                <div class="form-group col-md-3 animated fadeIn" *ngIf="subjects?.length != 0">
                    <gmat-control-messages [control]="form.get('subjectId')">
                        <h5 class="title-gmat-primary">Subjects</h5>
                        <gmat-combobox-select formControlName="subjectId" [data]="subjects" (change)="onChangeSubjects($event.target.value)"></gmat-combobox-select>
                    </gmat-control-messages>
                </div>
                <div class="form-group col-md-3 animated fadeIn" *ngIf="subsubjects?.length != 0">
                    <gmat-control-messages [control]="form.get('subSubjectId')">
                        <h5 class="title-gmat-primary">Subsubjects</h5>
                        <gmat-combobox-select formControlName="subSubjectId" [data]="subsubjects">
                        </gmat-combobox-select>
                    </gmat-control-messages>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="form-group col-md-12 animated fadeIn">
                    <h5 class="title-gmat-primary">Tipo</h5>
                    <gmat-control-messages [control]="form.get('appliesTo')">
                        <div class="d-block">
                            <div class="btn-group content-buttons-inline d-flex flex-wrap" btnRadioGroup formControlName="appliesTo">
                                <label btnRadio="practice" class="btn btn-primary" tabindex="0" role="button">Practice</label>
                                <label btnRadio="exam" class="btn btn-primary" tabindex="0" role="button">Exam</label>
                            </div>
                        </div>
                    </gmat-control-messages>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="title-gmat-primary">CODE QUESTION</h5>
            <div class="form-group">
                <gmat-control-messages [control]="form.get('code')">
                    <input type="text" class="form-control form-gmat-control" formControlName="code" placeholder="Code">
                </gmat-control-messages>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="form-group">
                <h5 class="title-gmat-primary">QUESTION IMAGE</h5>
                <div class="input-group">
                    <gmat-control-messages [control]="form.get('questionImage')">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input form-gmat-control" aria-describedby="inputGroupFileQuestion" (change)="onChangeQuestionFile($event)">
                            <label class="custom-file-label" for="add-icon-file">
                                {{ form.get('questionImageName').value }}
                            </label>
                        </div>
                    </gmat-control-messages>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h5 class="title-gmat-primary">DESCRIPTION QUESTION</h5>
            <div class="form-group">
                <gmat-control-messages [control]="form.get('question')">
                    <gmat-textarea-editor formControlName="question" placeholder="Question"></gmat-textarea-editor>
                </gmat-control-messages>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="title-gmat-primary">QUESTION FORMAT</h5>
            <div class="form-group">
                <gmat-control-messages [control]="form.get('type')">
                    <div class="btn-group content-buttons-inline d-flex flex-wrap" btnRadioGroup formControlName="type">
                        <label btnRadio="selection" class="btn btn-primary" tabindex="0" role="button">Selection</label>
                        <label btnRadio="boolean" class="btn btn-primary" tabindex="0" role="button">True or False</label>
                        <label btnRadio="explanation" class="btn btn-primary" tabindex="0" role="button">Write</label>
                        <label btnRadio="yes_no_multiple_choice" class="btn btn-primary" tabindex="0" role="button">Multiple Choice</label>
                        <label btnRadio="drop_down_complement" class="btn btn-primary" tabindex="0" role="button">Drop Down</label>
                        <label btnRadio="table_simple_selection" class="btn btn-primary" tabindex="0" role="button">Simple Selection</label>
                    </div>
                </gmat-control-messages>
            </div>
        </div>
        <div class="col-md-12" *ngIf="form.get('type').value">
            <ng-container [ngSwitch]="form.get('type').value">
                <ng-container *ngSwitchCase="questionFormatType.selection">
                    <ng-container *ngTemplateOutlet="templateAlternatives"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.boolean">
                    <ng-container *ngTemplateOutlet="templateAlternatives"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.yesnomultiplechoice">
                    <gmat-admin-questions-shared-multiple-choice [formBand]="form" [question]="question">
                    </gmat-admin-questions-shared-multiple-choice>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.dropdowncomplement">
                    <gmat-admin-questions-shared-dropdown [formBand]="form" [question]="question">
                    </gmat-admin-questions-shared-dropdown>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.tablesimpleselection">
                    <gmat-admin-questions-shared-simple-selection [formBand]="form" [question]="question">
                    </gmat-admin-questions-shared-simple-selection>
                </ng-container>
            </ng-container>
            <ng-template #templateAlternatives>
                <div class="row">
                    <div [ngClass]="form.get('type').value === questionFormatType.boolean ? { 'col-md-4': true } : { 'col-md-8': true }">
                        <gmat-admin-questions-shared-alternatives [formBand]="form" [question]="question">
                        </gmat-admin-questions-shared-alternatives>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-md-12 animated fadeIn">
                    <h5 class="title-gmat-primary">Difficulty</h5>
                    <gmat-control-messages [control]="form.get('difficulty')">
                        <div class="d-block">
                            <div class="btn-group content-buttons-inline d-flex flex-wrap" btnRadioGroup formControlName="difficulty">
                                <label btnRadio="very_easy" class="btn btn-primary" tabindex="0" role="button">Very
                                    easy</label>
                                <label btnRadio="easy" class="btn btn-primary" tabindex="0" role="button">Easy</label>
                                <label btnRadio="medium" class="btn btn-primary" tabindex="0" role="button">Medium</label>
                                <label btnRadio="hard" class="btn btn-primary" tabindex="0" role="button">Hard</label>
                                <label btnRadio="very_hard" class="btn btn-primary" tabindex="0" role="button">Very
                                    hard</label>
                            </div>
                        </div>
                    </gmat-control-messages>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="form-group col-md-12 animated fadeIn">
                    <h5 class="title-gmat-primary">ADD VIDEO</h5>
                    <gmat-control-messages [control]="form.get('videoUrl')">
                        <input type="text" class="form-control form-gmat-control" formControlName="videoUrl" placeholder="Url">
                    </gmat-control-messages>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="form-group col-md-12 animated fadeIn">
                    <h5 class="title-gmat-primary">ADD TITLE</h5>
                    <gmat-control-messages [control]="form.get('videoTitle')">
                        <input type="text" class="form-control form-gmat-control" placeholder="Title" formControlName="videoTitle">
                    </gmat-control-messages>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="form-group">
                <h5 class="title-gmat-primary">ICON</h5>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input form-gmat-control" aria-describedby="inputGroupFileAddon01" (change)="onChangeFile($event)" accept="image/x-png,image/gif,image/jpeg">
                        <label class="custom-file-label" for="add-icon-file">
                            {{ form.get('imageExplanationName').value }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-md-12 animated fadeIn">
                    <h5 class="title-gmat-primary">EXPLANATION</h5>
                    <gmat-control-messages [control]="form.get('explanation')">
                        <gmat-textarea-editor formControlName="explanation" placeholder="Explanation">
                        </gmat-textarea-editor>
                    </gmat-control-messages>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-4">
            <div class="d-flex justify-content-end align-items-center content-action-save">
                <p>ACTIVE</p>
                <label class="switch-admin">
                    <input type="checkbox" formControlName="status">
                    <span class="slider round"></span>
                </label>
                <p>INACTIVE</p>
            </div>
        </div>
        <div class="col-md-2">
            <a [routerLink]="[question ? '../../' : '../']" class="btn btn-gmat-warning w-100">Cancel</a>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-gmat-warning w-100" (click)="onClickSave()">Save</button>
        </div>
    </div>
</div>