<gmat-page>
    <div class="p-5 common-authentication content-login" [formGroup]="form">
        <div class="flex-login animated fadeIn">
            <p class="text-have-account m-0">Don't have an account?</p>
            <a routerLink="/subscription" class="btn btn-signUp">Sign Up</a>
        </div>
        <div class="row flex-center height65">
            <div class="col-sm-6">
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="animated fadeIn faster">
                        <h1 class="text-authentication">Log In</h1>
                    </div>
                    <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="erros">
                        <strong>{{ erros.title }}, </strong> {{ erros.message }}
                    </div> -->
                    <div class="row" *ngIf="alert">
                        <div class="col-md-12">
                            <alert [type]="alert.type">
                                <strong [innerHtml]="alert.title"></strong>
                                <span [innerHtml]="alert.msg"></span>
                            </alert>
                        </div>
                    </div>
                    <div class="form-group animated fadeIn fast">
                        <gmat-control-messages [control]="form.controls.email">
                            <div class="icon-addon addon-md d-block position-relative">
                                <label for="email" class="label-login">Mail</label>
                                <input type="email" class="form-control" formControlName="email" autocomplete="off">
                                <img src="./assets/img/email@2x.png" width="22" class="img-fluid glyphicon glyphicon2 position-absolute">
                            </div>
                        </gmat-control-messages>
                    </div>
                    <div class="form-group animated fadeIn">
                        <gmat-control-messages [control]="form.controls.password">
                            <div class="icon-addon addon-md d-block position-relative">
                                <label for="pasword" class="label-login">Password</label>
                                <input type="password" class="form-control" formControlName="password" autocomplete="off">
                                <img src="./assets/img/passw.png" width="18" class="img-fluid glyphicon position-absolute">
                            </div>
                        </gmat-control-messages>
                    </div>
                    <a routerLink="/recoverkey" class="text-forgot animated fadeInUp slow">
                        Forgot Password?
                    </a>
                    <div class="">
                        <button class="btn btn-login btnYellowCommon btn-login" [disabled]="loading" type="submit">{{ loading ? 'Loading' : 'Login' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</gmat-page>