<div class="container container-component">
    <h4 class="color-title title-page animated fadeInDown">Manage Users</h4>
    <div class="d-flex align-items-end justify-content-between content-filter-actions animated slideInRight" [formGroup]="form">
        <div class=""></div>
        <div class="form-group text-right filter">
            <label>A-Z</label>
            <div class="form-group-search">
                <input type="text" class="form-control" formControlName="filter" (keydown.enter)="showData()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 animated fadeInUp">
            <gmat-page-pagination #pagination [columns]="setColumns" [pagination]="users" (changepage)="showData($event)">
            </gmat-page-pagination>
            <!--
                <table class="table table-bordered table-striped table-gmat-default">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Last Name</th>
                            <th>Email</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Reg Datos</th>
                            <th class="text-center">Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ContentSearch" *ngFor="let item of users.clients">
                            <td class="text-center">{{item.id}}</td>
                            <td class="text-center">{{item.firstName}} {{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td class="text-center">{{item.cellphone}}</td>
                            <td class="text-center">{{item.createdAt}}</td>
                            <td class="text-center">{{item.status}}</td>
                        </tr>

                    </tbody>
                </table>
            </perfect-scrollbar> -->
        </div>
        <!-- <div class="col-md-12 text-right">
            <div class="d-flex justify-content-between">
                <div></div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
    <div class="d-flex justify-content-center animated zoomInRight">
        <div class="users-totals">
            <div class="new-week">
                <div class="totals d-flex justify-content-center align-items-center">
                    {{totales ? totales.newUsersThisWeek : 0}}
                </div>
                <p class="mt-2">
                    New Users this Week
                </p>
            </div>
            <div class="active-month">
                <div class="totals d-flex justify-content-center align-items-center">
                    {{totales ? totales.activesThisMonth : 0}}
                </div>
                <p class="mt-2">
                    Active Users this Month
                </p>
            </div>
            <div class="suscribed-month">
                <div class="totals d-flex justify-content-center align-items-center">
                    {{totales ? totales.subscribersThisMonth : 0}}
                </div>
                <p class="mt-2">
                    Users suscribed this Month
                </p>
            </div>
        </div>
    </div>
</div>