<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Resend Code</h5>
    <button type="button" class="close" aria-label="Close" (click)="onClickClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [formGroup]="form">
    <gmat-control-messages [control]="form.controls.email">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
    </gmat-control-messages>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClickClose()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onClickResend()" [disabled]="loading">{{ !loading ? 'Resend' : 'Loading' }}</button>
</div>