<div class="content-videos">
    <div class="detail-video clipnotes mb-5">
        <gmat-content>
            <div class="container  animated fadeInUp" *ngIf="video">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center mt-5 mb-3">Clip notes</h3>
                    </div>
                    <div class="col-sm-6 justify-content-center align-items-center pt-5  animated slideInUp">
                        <gmat-video [mediaSource]="video.url"></gmat-video>
                    </div>
                    <div class="col-sm-6 animated slideInDown">
                        <div class="video-title mb-2 pl-1">{{ video.title }}</div>
                        <p class="pl-1 video-text-description text-justify">
                            {{ video.description }}
                        </p>
                        <perfect-scrollbar class="scroll-sidebar-content scroll-sidebar-content1">
                            <div class="d-flex justify-content-between mb-4" *ngFor="let clipnote of clipnotes">
                                <div class="">
                                    <p class="m-0 time pt-2 pb-2 pl-3 pr-3">
                                        <img src="./assets/img/svg/timer.svg" width="16" class="mr-2" alt="">
                                        {{ formattime(clipnote.seconds) }}
                                    </p>
                                </div>
                                <div class="">
                                    <div class="note-clip text-justify">
                                        {{ clipnote.description }}
                                    </div>
                                    <span class="d-block text-right">
                                        <a class="c-pointer" (click)="onClickDelete(clipnote.id)">
                                            <img src="./assets/img/svg/trash.svg" width="12" class="mr-1" alt="">
                                        </a>
                                        {{ clipnote.description.length }}/145
                                    </span>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </gmat-content>
    </div>
</div>