<div class="row" *ngIf="setting">
    <div class="col-md-12">
        <alert [type]="setting.type" [dismissible]="!dismissible" [dismissOnTimeout]="5000" (onClosed)="onClosedAlert()">
            <strong [innerHtml]="setting.title + ', '"></strong>
            <span [innerHtml]="setting.msg"></span>
        </alert>
    </div>
</div>