<div class="content-general-videos">
    <div class="component-videos animated slideInUp">
        <canvas class="video-item"></canvas>
        <a class="video-play d-flex justify-content-center align-items-center action-video-play" (click)="playPauseClick()">
            <div class="btn-video-play">
                <i class="fa fa-play"></i>
            </div>
        </a>
        <!-- <video class="video" src="http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.mp4"
                preload="metadata"></video> -->
        <div class="controls">
            <div class="buttons-controls d-flex justify-content-between align-items-center">
                <div class="buttons-left d-flex align-items-center">
                    <a class="play-pause" (click)="onClickTogglePlayPause()"></a>
                    <span class="times-duration-current">
                        --:-- / --:--
                    </span>
                </div>
                <div class="time-bar">
                    <div class="time-buffer"></div>
                    <div class="time-juice"></div>
                    <div class="time-info">--:--</div>
                </div>
                <a class="btn-expand c-pointer" (click)="onToggleFullScree()">
                    <i class="fas fa-expand"></i>
                </a>
                <a class="btn-contraer c-pointer" (click)="onToggleFullScree()">
                    <i class="fas fa-compress"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 
<h2>Basic Video & canvas example</h2>
<p>Code example from Stackoverflow Documentation HTML5-Canvas<br>
<a href="https://stackoverflow.com/documentation/html5-canvas/3689/media-types-and-the-canvas/14974/basic-loading-and-playing-a-video-on-the-canvas#t=201607271638099201116">Basic loading and playing a video on the canvas</a></p>
<canvas id="myCanvas" width = "532" height ="300" ></canvas><br>
<h3><div id = "playPause">Loading content.</div></h3>
<div class="mute"></div><br>
<div style="font-size:small">Attribution in the leading credits.</div><br> -->