<div class="modal-header animated fadeInDown">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClickClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body animated fadeIn slow">
    <div [formGroup]="form">
        <div class="row">
            <div class="col-md-6 form-group">
                <gmat-control-messages [control]="form.controls.firstName">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" autocomplete="off">
                </gmat-control-messages>
            </div>
            <div class="col-md-6 form-group">
                <gmat-control-messages [control]="form.controls.lastName">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" autocomplete="off">
                </gmat-control-messages>
            </div>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.email">
                <label for="name">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" autocomplete="off">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.cellphone">
                <label for="name">Cellphone</label>
                <input type="text" class="form-control" id="cellphone" formControlName="cellphone" autocomplete="off">
            </gmat-control-messages>
        </div>
    </div>
</div>
<div class="modal-footer animated fadeInUp">
    <button type="button" class="btn btn-default btnYellowCommon" (click)="onClickClose()">Close</button>
    <button type="button" class="btn btnYellowCommon" (click)="save()">Save</button>
</div>