<div class="container container-component">
    <h4 class="color-title title-page animated fadeInDown">Manage Section</h4>
    <div class="d-flex align-items-end justify-content-between content-filter-actions animated slideInRight" [formGroup]="form">
        <div class="d-flex align-items-center form-group actions"></div>
        <div class="form-group text-right filter d-flex justify-content-between align-items-end">
            <div class="">
                <button type="button" (click)="clickOpenNew()" class="btn btnYellowCommon btnYellowCommon2 mr-3">Create</button>
            </div>
            <div>
                <label>A-Z</label>
                <div class="form-group-search">
                    <input type="text" class="form-control" formControlName="filter" (keydown.enter)="showData()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive animated fadeInUp">
            <gmat-page-pagination [columns]="setColumns" [pagination]="sections" (changepage)="showData($event)" (changeedit)="clickOpenNew($event)" (changedelete)="onClickDelete($event)">
            </gmat-page-pagination>
        </div>
    </div>
</div>