<gmat-exam-header>
    <ul class="nav time-out">
        <li class="nav-item">
            <label>
                Test time:
                <span>
                    <i class="far fa-clock"></i>
                    <span class="pl-1 pr-1">
                        <gmat-chronometer
                            (onValueSecons)="onValueTotalInvestedTime($event)"
                            #chronometerExam
                        ></gmat-chronometer>
                    </span>
                </span>
            </label>
        </li>
        <li class="nav-item">
            <label> Question: {{ question?.questionOrder }} of {{ totalQuestions }} </label>
        </li>
        <li class="nav-item">
            <label>
                Time spent on this question:
                <span>
                    <i class="far fa-clock"></i>
                    <span class="pl-1 pr-1">
                        <gmat-chronometer
                            (onValueSecons)="onValueIvestedTime($event)"
                            #chronometerQuestion
                        ></gmat-chronometer>
                    </span>
                </span>
            </label>
        </li>
    </ul>
</gmat-exam-header>
<ng-container *ngIf="question">
    <section class="container mt-4 mb-4" style="padding-bottom: 3em;" [formGroup]="form">
        <h5 class="title-exam animated fadeIn">
            {{ question.sectionName }} :: {{ question.topicName }} :: {{ question.code }}
        </h5>
        <hr />
        <div class="row">
            <div class="col-md-12 animated fadeIn" [ngSwitch]="questionType">
                <ng-container *ngSwitchCase="questionFormatType.selection">
                    <gmat-alternative-selection
                        [form]="form"
                        [question]="question"
                    ></gmat-alternative-selection>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.boolean">
                    <gmat-alternative-boolean
                        [form]="form"
                        [question]="question"
                    ></gmat-alternative-boolean>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.explanation">
                    <gmat-alternative-explanation
                        [form]="form"
                        [question]="question"
                    ></gmat-alternative-explanation>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.tablesimpleselection">
                    <gmat-alternative-tablesimpleselection [form]="form" [question]="question">
                    </gmat-alternative-tablesimpleselection>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.yesnomultiplechoice">
                    <gmat-alternative-yesnomultiplechoice [form]="form" [question]="question">
                    </gmat-alternative-yesnomultiplechoice>
                </ng-container>
                <ng-container *ngSwitchCase="questionFormatType.dropdowncomplement">
                    <gmat-alternative-dropdowncomplement [form]="form" [question]="question">
                    </gmat-alternative-dropdowncomplement>
                </ng-container>
            </div>
        </div>
    </section>
</ng-container>
<gmat-exam-footer
    [hasBack]="hasBack() && !question.isFinalized"
    [hasFinish]="!question?.isFinalized"
    [hasNext]="question?.isFinalized"
    [hasQuestionCurrent]="question?.currentQuestion ? true : false"
    (onNavigation)="onNavExam($event)"
    (onSubmit)="onNextExam()"
    (onFinish)="onFinishExam()"
></gmat-exam-footer>
