<div class="container container-component">
    <h4 class="color-title title-page mb-4 animated fadeInDown">Manage Videos</h4>
    <div class="row" [formGroup]="form">
        <div class="col-md-6">
            <div class="row" *ngIf="alert">
                <div class="col-md-12">
                    <alert [type]="alert.type">
                        <strong [innerHtml]="alert.title"></strong>
                        <span [innerHtml]="alert.msg"></span>
                    </alert>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 animated fadeInUp">
                    <div class="col-md-12  animated fadeIn" *ngIf="show">
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <div class="form-group d-flex justify-content-start align-items-center mb-0">
                                    <gmat-control-messages [control]="form.get('nodeName')">
                                        <input type="text" class="form-control form-gmat-control" formControlName="nodeName">
                                    </gmat-control-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 animated fadeIn">
                            <gmat-control-messages [control]="form.get('sectionId')">
                                <h5 class="title-gmat-primary">Section</h5>
                                <gmat-combobox-select formControlName="sectionId" [data]="sections" (change)="onChangeSections($event.target.value)"></gmat-combobox-select>
                            </gmat-control-messages>
                        </div>
                        <div class="form-group col-md-6 animated fadeIn" *ngIf="topics?.length != 0">
                            <gmat-control-messages [control]="form.get('topicId')">
                                <h5 class="title-gmat-primary">Topics</h5>
                                <gmat-combobox-select formControlName="topicId" [data]="topics" (change)="onChangeTopics($event.target.value)"></gmat-combobox-select>
                            </gmat-control-messages>
                        </div>
                        <div class="form-group col-md-6 animated fadeIn" *ngIf="subjects?.length != 0">
                            <gmat-control-messages [control]="form.get('subjectId')">
                                <h5 class="title-gmat-primary">Subjects</h5>
                                <gmat-combobox-select formControlName="subjectId" [data]="subjects" (change)="onChangeSubjects($event.target.value)"></gmat-combobox-select>
                            </gmat-control-messages>
                        </div>
                        <div class="form-group col-md-6 animated fadeIn" *ngIf="subsubjects?.length != 0">
                            <gmat-control-messages [control]="form.get('subSubjectId')">
                                <h5 class="title-gmat-primary">Subsubjects</h5>
                                <gmat-combobox-select formControlName="subSubjectId" [data]="subsubjects">
                                </gmat-combobox-select>
                            </gmat-control-messages>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 animated slideInLeft">
                    <h5 class="title-gmat-primary">TITLE</h5>
                    <div>
                        <gmat-control-messages [control]="form.controls.title">
                            <input type="text" class="form-control form-gmat-control" placeholder="Title" formControlName="title">
                        </gmat-control-messages>
                    </div>
                </div>
                <div class="col-md-12 animated slideInLeft">
                    <h5 class="title-gmat-primary">DESCRIPTION</h5>
                    <div>
                        <gmat-control-messages [control]="form.controls.description">
                            <textarea class="form-control form-gmat-control" placeholder="Description" formControlName="description"></textarea>
                        </gmat-control-messages>
                    </div>
                </div>
                <div class="col-md-12 animated slideInLeft">
                    <h5 class="title-gmat-primary">ADD VIDEO</h5>
                    <div>
                        <gmat-control-messages [control]="form.controls.url">
                            <input type="text" class="form-control form-gmat-control" formControlName="url" placeholder="Url">
                        </gmat-control-messages>
                    </div>
                </div>
                <div class="col-md-12 animated slideInLeft">
                    <h5 class="title-gmat-primary">ADD FILE</h5>
                    <div>
                        <div class="form-group">
                            <!-- <label for="icon">Icon</label> -->
                            <!-- <gmat-control-messages [control]="form.controls.fileName"> -->
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="add-icon-file" formControlName="fileName" (change)="changeFile($event)">
                                    <label class="custom-file-label" for="add-icon-file">{{ namefile ? namefile : ''}}</label>
                                </div>
                            </div>
                            <!-- </gmat-control-messages> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group animated fadeInUp">
                <button type="button" class="btn btn-gmat-warning m-1" (click)="onClickSave()">Save</button>
                <button type="button" class="btn btn-gmat-warning m-1" (click)="onClickCancelar()">Cancel</button>
                <button type="button" class="btn btn-gmat-warning m-1" (click)="onResetType()">Reset</button>
            </div>
        </div>
    </div>
</div>