<gmat-page>
    <div class="d-flex justify-content-center align-items-center" style="height:100vh;" [formGroup]="form">
        <div class="content-recoverkey">
            <div class="row mt-5" *ngIf="alert">
                <div class="col-md-12">
                    <alert [type]="alert.type">
                        <strong [innerHtml]="alert.title"></strong>
                        <span [innerHtml]="alert.msg"></span>
                    </alert>
                </div>
            </div>
            <div class="form-group">
                <gmat-control-messages [control]="form.controls.password">
                    <div class="icon-addon addon-md d-block position-relative animated slideInUp fast">
                        <label for="password" class="label-login">Password</label>
                        <input type="password" class="form-control" formControlName="password" />
                    </div>
                </gmat-control-messages>

            </div>
            <div class="form-group">
                <gmat-control-messages [control]="form.controls.newPassword">
                    <div class="icon-addon addon-md d-block position-relative animated slideInUp">
                        <label for="confirmpassword" class="label-login">Confirm password</label>
                        <input type="password" class="form-control" formControlName="newPassword" />
                    </div>
                </gmat-control-messages>

            </div>
            <div>
                <button class="btn btnYellowCommon" (click)="changepassword()" [disabled]="loading" type="submit">{{ loading ? 'Loading' : 'Reset Password' }}</button>
            </div>
        </div>
    </div>
</gmat-page>