<div class="container container-component">
    <h4 class="color-title title-page animated fadeInDown">Manage Pricing</h4>
    <div class="d-flex align-items-end justify-content-between content-filter-actions" [formGroup]="form">
        <div class="d-flex align-items-center form-group actions"></div>
        <div class="form-group text-right filter d-flex justify-content-between align-items-end animated slideInRight">
            <div class="">
                <button type="button" (click)="clickOpenNew()" class="btn btnYellowCommon btnYellowCommon2 mr-3">Create</button>
            </div>
            <div>
                <label>A-Z</label>
                <div class="form-group-search">
                    <input type="text" class="form-control" (keyup)="search($event.target.value)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive animated fadeInUp">
            <perfect-scrollbar class="scroll-admin scroll-sidebar-content">
                <table class="table table-bordered table-striped table-gmat-default">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Type of currency</th>
                            <th class="text-center">Interval</th>
                            <th class="text-center">Interval count</th>
                            <th class="text-center">Trial days</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ContentSearch" *ngFor="let item of pricings">
                            <td class="text-center">
                                {{item.id}}
                            </td>
                            <td class="text-center">
                                {{item.name}}
                            </td>
                            <td class="text-center">
                                {{item.description}}
                            </td>
                            <td class="text-center">
                                {{item.amount}}
                            </td>
                            <td class="text-center">
                                {{item.currency_code}}
                            </td>
                            <td class="text-center">
                                {{item.interval}}
                            </td>
                            <td class="text-center">
                                {{item.interval_count}}
                            </td>
                            <td class="text-center">
                                {{item.trial_days}}
                            </td>
                            <td class="text-center">
                                {{item.type}}
                            </td>

                            <td class="text-center">
                                <button type="button" class="btn-reset text-gmat-primary m-1" (click)="onClickDelete(item.id)"><i
                                        class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
        <!-- <div class="col-md-12 text-right">
            <div class="d-flex justify-content-between">
                <div></div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
</div>