<div class="content-videos">
    <div class="detail-video clipnotes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animated fadeInUp">
                    <h3 class="text-center mt-5 mb-5">Clip notes</h3>
                </div>
                <div class="col-md-12 mb-5 animated fadeInDown">
                    <gmat-content>
                        <div class="d-flex flex-wrap justify-content-center mt-1" *ngIf="videos">
                            <div class="item-content-videos" *ngFor="let item of videos">
                                <img src="./assets/img/svg/video.svg" width="100%" class="img-fluid mx-auto img-video"
                                    alt="">
                                <div class="text-title mt-2">
                                    {{item.title}}
                                </div>
                                <div class="paragraph text-justify">
                                    {{item.description | slice:0:50}}
                                </div>
                                <div class="text-center">
                                    <a class="btn btnYellowCommon mt-4 mb-4" [routerLink]="['../clipnotes', item.id]">
                                        View notes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </gmat-content>
                </div>
            </div>
        </div>
    </div>
</div>