<div class="content-platform padTop65">
    <div class="container">
        <div class="Tab-Platform mt-5 mb-5 animated zoomInUp">
            <div class="d-flex align-items-center justify-content-center animated fadeInUp">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" routerLinkActive="active" routerLink="/portal/platform/lesson">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        Lessons
                    </label>
                    <ng-container *ngIf="hasActive">
                        <label class="btn btn-secondary" routerLinkActive="active" routerLink="/portal/platform/practice">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            Practice
                        </label>
                        <label class="btn btn-secondary" routerLinkActive="active" routerLink="/portal/platform/exam">
                            <input type="radio" name="options" id="option3" autocomplete="off">
                            Exam
                        </label>
                        <label class="btn btn-secondary" routerLinkActive="active" routerLink="/portal/platform/report">
                            <input type="radio" name="options" id="option3" autocomplete="off">
                            Reports
                        </label>
                    </ng-container>
                </div>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
            <!-- <tabset [justified]="true">
                <tab heading="Lessons" id="tab1">
                    <gmat-portal-platform-lessons></gmat-portal-platform-lessons>
                </tab>
                <tab heading="Practice">
                    <gmat-portal-platform-practice></gmat-portal-platform-practice>
                </tab>
                <tab heading="Exam">
                    <gmat-portal-platform-exam></gmat-portal-platform-exam>
                </tab>
                <tab heading="Reports">
                    <gmat-portal-platform-reports></gmat-portal-platform-reports>
                </tab>
            </tabset> -->
            <div class="loading-page-content d-flex justify-content-center align-items-center">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </div>
    </div>
</div>