<div class="modal-body animated slideInUp" *ngIf="question">
    <h5>
        <!-- {{title}} -->
        {{question.sectionName}} :: {{question.topicName}} :: {{question.code}}
    </h5>
    <div class="modal-confirm-divider"></div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="title-question" [innerHTML]="question.question"></h6>
        </div>

        <div class="col-md-12 mt-4" [formGroup]="form">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group bg-gray list-alternatives" [ngSwitch]="question.type">
                        <ng-container *ngSwitchCase="questionFormatType.boolean">
                            <ng-container formArrayName="alternatives" *ngFor="let order of form.controls.alternatives.controls; let i = index">
                                <li class="list-group-item" *ngFor="let item of alternatives">
                                    <div class="custom-control custom-radio" [ngClass]="isCorrectAlternative(item)">
                                        <input type="radio" class="custom-control-input" [formControlName]="i" [name]="i" [id]="'custom-boolean' + item.id" [value]="item.id">
                                        <label class="custom-control-label" [for]="'custom-boolean' + item.id">
                                            {{item.name | titlecase}}
                                        </label>
                                    </div>
                                </li>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="questionFormatType.selection">
                            <li class="list-group-item" formArrayName="alternatives" *ngFor="let order of form.controls.alternatives.controls; let i = index">
                                <div class="custom-control custom-checkbox" [ngClass]="isCorrectAlternative(alternatives[i])">
                                    <input type="checkbox" class="custom-control-input" [formControlName]="i" [id]="'custom-boolean' + i">
                                    <label class="custom-control-label" [for]="'custom-boolean' + i">
                                        {{alternatives[i].name}}
                                    </label>
                                </div>
                            </li>
                        </ng-container>
                        <ng-container *ngSwitchCase="questionFormatType.yesnomultiplechoice">
                            <ng-container *ngFor="let alternative of question.alternatives; let i = index">
                                <div class="custom-answers">
                                    <p class="m-0">{{alternative.name}}</p>
                                    <td class="text-center" *ngFor="let subalternative of alternative.subAlternatives" [ngClass]="subalternative.isTheAnswer? 'alternative-success' : ''">
                                        <div class="custom-control custom-radio" [ngClass]="this.clientAnswer[i].answerId[0] !== subalternative.id && subalternative.isTheAnswer ? 'alternative-error' : ''">
                                            <input type="radio" [id]="subalternative.id + '-' + alternative.id" [name]="'customRadio-' + i" class="custom-control-input" [disabled]="true" [checked]="this.clientAnswer[i].answerId[0] == subalternative.id ? true : false" [value]="subalternative.id"
                                            />
                                            <label class="custom-control-label" [for]="subalternative.id + '-' + alternative.id">{{subalternative.name}} 
                                                    {{subalternative.id}} - {{this.clientAnswer[i].answerId[0] == subalternative.id}} -  {{ this.clientAnswer[i].answerId[0]}}
                                                </label>
                                            <!-- {{this.clientAnswer[i].answerId[0] == subalternative.id ? 'correcta' : 'incorrecta'}} -->
                                        </div>
                                    </td>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="exam-question-explication">
                        <h5>Answer Explanation</h5>
                        <p [innerHTML]="question.explanation"></p>
                    </div>
                    <div class="mt-2" *ngIf="this.question.videoTitle">
                        <h5>{{this.question.videoTitle}}</h5>
                    </div>
                    <div class="mt-2" *ngIf="this.question.videoUrl !== null">
                        <video class="video" [src]="this.question.videoUrl ? this.question.videoUrl : ''" class="w-100" preload="metadata" controls></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btnYellowCommon" (click)="bsModalRef.hide()">Close</button>
</div>