<div class="row" *ngIf="question">
    <div class="col-md-12 mb-2" [innerHTML]="question.question"></div>
    <div class="col-md-12">
        <gmat-control-messages [control]="form.get('answersId')">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-control custom-radio" *ngFor="let alternative of question.alternatives">
                        <input type="radio" [id]="customRadioIdentify(alternative)" name="customRadio"
                            class="custom-control-input" [value]="alternative.id"
                            (change)="onChangeInput($event.target.value)" [checked]="alternativeIsChecked(alternative.id)" [disabled]="question?.clientAnswer ? true : false"/>
                        <label class="custom-control-label" [for]="customRadioIdentify(alternative)">
                            {{ alternative.name }}
                        </label>
                    </div>
                </div>
            </div>
        </gmat-control-messages>
    </div>
</div>