<div class="modal-body animated zoomInRight">
    <h4>
        {{title}}
    </h4>
    <p>
        {{message}}
    </p>
    <div class="modal-confirm-divider"></div>
    <div class="row" *ngIf="actions">
        <div class="col-md-6">
            <button type="button" class="btn btn-default btn-confirm btn-confirm-primary w-100" (click)="onClickYes()">Yes</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-confirm btn-confirm-default w-100" (click)="bsModalRef.hide();">No</button>
        </div>
    </div>
    <div class="row" *ngIf="!actions">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-confirm btn-confirm-primary w-100" (click)="onClickYes()">Aceptar</button>
        </div>
    </div>
</div>