<ng-container *ngIf="question">
    <div class="row">
        <div class="col-md-12 mb-2">
            <div [innerHTML]="question.question"></div>
        </div>
        <div class="col-md-12">
            <gmat-control-messages [control]="form.get('answersId')">
                <textarea #inputtext class="form-control form-control-exam" rows="4"></textarea>
            </gmat-control-messages>
        </div>
    </div>
</ng-container>