<div class="container container-component">
    <h4 class="color-title title-page animated fadeInUp">Manage Topics</h4>
    <div class="d-flex align-items-end justify-content-between content-filter-actions" [formGroup]="form">
        <div class="d-flex align-items-center form-group actions animated slideInLeft">
            <img src="./assets/img/quantitative reasoning.png" class="mr-2" width="20">
            <select class="form-control" (change)="changeSection($event.target.value)">
                <option value="">- All -</option>
                <option value="{{item.id}}" *ngFor="let item of sections">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group text-right filter  d-flex justify-content-between align-items-end animated slideInRight">
            <div class="">
                <div class="">
                    <button type="button" (click)="clickOpenNew()" class="btn btnYellowCommon btnYellowCommon2 mr-3">Create</button>
                </div>
            </div>
            <div class="">
                <label>A-Z</label>
                <div class="form-group-search">
                    <input type="text" class="form-control" formControlName="filter" (keydown.enter)="showData()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 animated fadeInUp">
            <gmat-page-pagination [columns]="setColumns" [pagination]="topics" (changepage)="showData($event)" (changeedit)="clickOpenNew($event)" (changedelete)="onClickDelete($event)">
            </gmat-page-pagination>
            <!-- <table class="table table-bordered table-striped table-gmat-default m-0">
                <thead class="">
                    <tr>
                        <th width="25%" class="text-center">Topic</th>
                        <th width="25%" class="text-center">Imagen</th>
                        <th width="25%" class="text-center">sectionId</th>
                        <th width="25%" class="text-center">#</th>
                    </tr>
                </thead>
            </table> -->
            <!-- <perfect-scrollbar class="scroll-admin scroll-sidebar-content">
                <table class="table table-bordered table-striped table-gmat-default  m-0">
                    <thead class="d-none">
                        <tr>
                            <th width="25%" class="text-center">Topic</th>
                            <th width="25%" class="text-center">Imagen</th>
                            <th width="25%" class="text-center">sectionId</th>
                            <th width="25%" class="text-center">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ContentSearch" *ngFor="let item of topics">
                            <td width="25%" class="text-center">
                                {{item.name}}
                            </td>
                            <td  width="25%" class="text-center"><img src="{{item.image}}" class="img-fluid"
                                width="40" alt=""></td>
                                
                            <td width="25%" class="text-center">
                                {{item.sectionId}}
                            </td>
                            <td width="25%" class="text-center">
                                <a class="text-gmat-primary m-1" (click)="clickOpenNew(item)"><i class="fas fa-edit"></i></a>
                                <button type="button" class="btn-reset text-gmat-primary m-1" (click)="onClickDelete(item.id)"><i
                                        class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar> -->
        </div>
        <!--  <div class="col-md-12 text-right">
            <div class="d-flex justify-content-between">
                <div></div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
</div>