<div class="container container-porfile">
    <div class="d-flex justify-content-center mb-5">
        <div class="info-profile d-flex animated fadeInDown">
            <div class="img-profile">
                <div class="img-profile-content">
                    <img [src]="userinfo.imageUrl ? userinfo.imageUrl : './assets//img/profile.png'" id="user-img-profile" width="100">
                </div>
                <input type="file" class="d-none" (change)="onChangeFile($event)" #file accept="image/*">
                <a class="c-pointer" (click)="file.click()">change</a>
            </div>
            <div class="profile-info d-flex justify-content-center align-items-center">
                <ul class="list-info-users">
                    <li class="d-inline mt-1 mb-1">
                        <h5 class="m-0 d-flex align-items-center">
                            <div class="icon-size"><i class="fa fa-user" style="font-size: 17px;"></i></div> {{ userinfo.firstName + ' ' + userinfo.lastName }}
                        </h5>
                    </li>
                    <li class="mt-1 mb-1 d-flex align-items-center">
                        <div class="icon-size"><i class="fas fa-envelope" style="font-size: 12px;"></i></div>{{ userinfo.email }}</li>
                    <li class="mt-1 mb-1 d-flex align-items-center">
                        <div class="icon-size"><i class="fa fa-phone"></i></div>{{ userinfo.cellphone }}</li>
                    <li class="mt-1 mb-1">
                        <button type="button" class="btn btn-link btn-refresh-datos" (click)="onClickChangeInfo()">Update data</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center content-links-thumbnail-item">
        <a class="link-thumbnail-item animated slideInUp faster" [routerLink]="['../upgrade-plan']">
            <div class="thumbnail-item d-flex justify-content-center align-items-center">
                <div>
                    <div class="thumbnail-content-icons">
                        <img src="./assets//img/uprade your plan.png" width="60">
                    </div>
                    <h5>Upgrade your plan</h5>
                </div>
            </div>
        </a>
        <a class="link-thumbnail-item animated slideInUp fast" [routerLink]="['../target-score']">
            <div class="thumbnail-item d-flex justify-content-center align-items-center">
                <div>
                    <div class="thumbnail-content-icons">
                        <img src="./assets//img/see target score.png" width="60">
                    </div>
                    <h5>See target score</h5>
                </div>
            </div>
        </a>
        <a class="link-thumbnail-item animated slideInUp" [routerLink]="['../videos']">
            <div class="thumbnail-item d-flex justify-content-center align-items-center">
                <div>
                    <div class="thumbnail-content-icons">
                        <img src="./assets//img/clip notes.png" width="60">
                    </div>
                    <h5>Clip <br> notes</h5>
                </div>
            </div>
        </a>
    </div>
</div>