<div class="content-pagination-component">
    <!-- <div *ngIf="loading" class="pagination-loading d-flex justify-content-center align-items-center" [innerHTML]="textloading">
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <perfect-scrollbar class="scroll-admin scroll-sidebar-content" [config]="{suppressScrollY: true}">
                <table class="table table-bordered table-striped table-gmat-default">
                    <thead>
                        <tr>
                            <th class="align-middle" [ngClass]="column.class ? column.class : ''" *ngFor="let column of columns()">
                                {{ column.title }}
                            </th>
                            <!-- <th style="width: 13%;" class="text-center">#</th> -->
                        </tr>
                    </thead>
                    <tbody *ngIf="pagination">
                        <ng-container [ngTemplateOutlet]="listpagination" [ngTemplateOutletContext]="{ data: getParseData() }">
                        </ng-container>
                        <ng-template #listpagination let-data="data">
                            <ng-container *ngIf="data.length">
                                <tr *ngFor="let row of data">
                                    <td class="align-middle" [ngClass]="item.class ? item.class : ''" *ngFor="let item of columns()" [ngSwitch]="item.type">
                                        <ng-container *ngSwitchCase="paginationType.datetime">
                                            {{ (row | invokevalues: item.field) | datetimevalue }}
                                        </ng-container>
                                        <ng-container *ngSwitchCase="paginationType.image">
                                            <img [src]="row | invokevalues: item.field" class="img-fluid" width="30">
                                        </ng-container>
                                        <ng-container *ngSwitchCase="paginationType.buttons">
                                            <ng-container *ngIf="item.buttons && item.buttons.edit">
                                                <button type="button" class="btn btn-link p-0 text-gmat-primary m-1" (click)="changeedit.emit(row)">
                                                    <i [class]="item.buttons.edit.icon"></i>
                                                </button>
                                            </ng-container>
                                            <ng-container *ngIf="item.buttons && item.buttons.delete">
                                                <button type="button" class="btn btn-link p-0 text-gmat-primary m-1" (click)="changedelete.emit(row)">
                                                    <i [class]="item.buttons.delete.icon"></i>
                                                </button>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{ row | invokevalues: item.field }}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="!data.length">
                                <tr *ngIf="columns()">
                                    <td class="text-center" [attr.colspan]="columns().length" [innerHTML]="textNoFound"></td>
                                </tr>
                            </ng-container>
                        </ng-template>
                    </tbody>
                    <tbody *ngIf="!pagination">
                        <tr *ngIf="columns()">
                            <td class="text-center" [attr.colspan]="columns().length" [innerHTML]="textNoFound"></td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
        <div class="col-md-12 animated zoomIn">
            <nav aria-label="Page navigation example" *ngIf="pagination">
                <ul class="pagination justify-content-end">
                    <li class="page-item" [ngClass]="!getParseData().length || pagination.current_page === 1 ? 'disabled' : ''">
                        <a class="page-link" (click)="clickBackPages(pagination.current_page - 1);">Preview</a>
                    </li>
                    <ng-container *ngFor="let item of arrayPages(); let i = index;">
                        <li class="page-item" [ngClass]="i + pagecurrent === pagination.current_page ? 'active' : ''" *ngIf="pagination.last_page >= i + pagecurrent">
                            <a class="page-link" (click)="clickChangePages(i + pagecurrent)">{{ i + pagecurrent }}</a>
                        </li>
                    </ng-container>
                    <li class="page-item" [ngClass]="!getParseData().length || pagination.current_page === pagination.last_page || pagination.last_page === 0 ? 'disabled' : ''">
                        <a class="page-link" (click)="clickNextPages(pagination.current_page + 1);">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>