<div style="display:block;">
    <div class="subContent-lessons animated fadeInUp">
        <nav aria-label="breadcrumb" class="mt-3 mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item position-relative d-flex justify-content-center align-items-center" aria-current="page" [ngClass]="i == 0 ? 'active' : ''" *ngFor="let item of navigation; let i = index">
                    <a class="text-center d-flex justify-content-center align-items-center c-pointer" (click)="clickBack(item)">
                        <div *ngIf="i == 0">
                            <img [src]="item.image" width="50" alt="">
                        </div>
                        <div class="ml-2">{{ item.name }}</div>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="content-videos animated bounceInDown">
    <div class="d-flex flex-wrap justify-content-center mt-1" *ngIf="videos">
        <div class="item-content-videos" *ngFor="let item of videos">
            <a (click)="onClickDetailVideoLesson(item)" class="c-pointer">
                <img src="./assets/img/svg/video.svg" width="100%" class="img-fluid mx-auto img-video" alt="">
                <div class="text-title mt-2">
                    {{item.title}}
                </div>
                <div class="paragraph text-justify">
                    {{item.description | slice:0:50}}
                </div>
            </a>
            <div class="text-center">
                <a [href]="item.attachedUrl" class="c-pointer d-inline-block disabled" *ngIf="item.attachedUrl; else nodocument" target="_blank">
                    <img src="./assets/img/svg/icon-paper.svg" width="50" class="img-paper mx-auto d-block mt-4" alt="">
                </a>
                <ng-template #nodocument>
                    <img src="./assets/img/svg/icon-paper.svg" width="50" class="img-paper mx-auto d-block mt-4" style="opacity:0.3;" alt="">
                </ng-template>
            </div>
        </div>
    </div>
</div>