<div style="display:block;">
    <div class="subContent-lessons animated fadeIn">
        <nav aria-label="breadcrumb" class="mt-3 mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item position-relative d-flex justify-content-center align-items-center"
                    aria-current="page" [ngClass]="i == 0 ? 'active' : ''" *ngFor="let item of navigation; let i = index">
                    <a class="text-center d-flex justify-content-center align-items-center c-pointer" (click)="clickBack(item)">
                        <div *ngIf="i == 0">
                            <img [src]="item.image" width="50" alt="">
                        </div>
                        <div class="ml-2">{{ item.name }}</div>
                    </a>
                </li>
            </ol>
        </nav>
        <div class="">
            <gmat-content>
                <div class="d-flex justify-content-center align-items-center text-center flex-wrap mt-5 cont-temas">
                    <!-- [ngClass]="!item.hasNextNode && item.videos.length > 0 ? '' : 'disabled'" -->
                    <div class="c-pointer" (click)="clickStart(item)" [ngClass]="!item.hasNextNode && item.videos.length === 0 ? 'disabled' : ''"
                        *ngFor="let item of topics">
                        <div class="tab-img-icon d-flex justify-content-center align-items-center">
                            <img [src]="item.image ? item.image : ''" width="80" class="img-fluid" alt="">
                        </div>
                        <h5>{{ item.name }}</h5>
                    </div>
                </div>
            </gmat-content>
        </div>
    </div>
</div>