<div class="header-nav animated fadeInDown fast">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center header-content">
            <div class="">
                <a class="c-pointer" [routerLink]="['/']">
                    <img src="./assets/img/logo.png" class="img-fluid" width="230" alt="">
                </a>
            </div>
            <div class="" *ngIf="!infouser">
                <a href="#" class="text-header-signUp">Sign Up</a>
                <a href="#" class="btn btn-logIn">
                    <img src="./assets/img/svg/login.svg" class="img-fluid img-login" width="24" alt="">
                    <img src="./assets/img/svg/login-color.svg" class="img-fluid img-login-color" style="display: none" width="24" alt=""> Log In
                </a>
            </div>
            <div *ngIf="infouser">
                <div class="navbar-usersinfo d-flex">
                    <a class="c-pointer" [routerLink]="['/portal/profile']">
                        <img [src]="infouser.user.imageUrl ? infouser.user.imageUrl : './assets/img/profile.png'" width="40" height="40">
                    </a>
                    <h5>
                        <a class="c-pointer" [routerLink]="['/portal/profile']">
                            {{ infouser.user.firstName + ' ' + infouser.user.lastName }}
                        </a>
                        <br>
                        <small>
                            <a (click)="onClickSignOut()" class="c-pointer">Sign out</a>
                        </small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>