<div style="display:block;">
    <div class="subContent-lessons">
        <div class="text-video-lessons mt-4 mb-4 animated slideInUp">Video Lessons</div>
        <gmat-content>
            <div *ngIf="sections && carouselTileItems" class="animated zoomInUp">
                <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
                    <ngu-tile *nguCarouselDef="let item; let j = index" [formGroup]="form">
                        <div class="cont-select">
                            <div class="d-flex justify-content-center align-items-center height140">
                                <img [src]="sections[j].image ? sections[j].image : ''" width="75" class="img-flui" alt="" />
                            </div>
                            <div class="text-lessons mb-4 text-center d-flex justify-content-center align-items-center">
                                {{ sections[j].name }}
                            </div>
                            <div class="cont-checkbox d-flex justify-content-center align-items-center pb-3" [ngClass]="!sections[j].hasNextNode && sections[j].videos.length === 0 ? 'disabled' : ''">
                                <input type="radio" [id]="j" name="section" [value]="sections[j]" formControlName="section" />
                                <label [for]="j"><span></span></label>
                            </div>
                        </div>
                    </ngu-tile>
                    <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1" type="button"
                        *ngIf="carouselTileItems.length > 4">
                        <img src="./assets/img/svg/arrowl.svg" width="25" alt="">
                    </button>
                    <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1" type="button"
                        *ngIf="carouselTileItems.length > 4">
                        <img src="./assets/img/svg/arrowr.svg" width="25" alt="">
                    </button>
                </ngu-carousel>
            </div>
        </gmat-content>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <button class="btn btnYellow" type="button" (click)="clickStart()" [disabled]="!form.valid">Start</button>
        </div>
    </div>
</div>