<div class="row" [formGroup]="formAlterntives">
    <div class="col-md-12 mb-2" [innerHTML]="question.question"></div>
    <div class="col-md-12">
        <gmat-control-messages [control]="form.get('answersId')">
            <div class="row">
                <div class="col-md-12 mb-1" *ngFor="let alternative of controlsList(); let i = index">
                    <div class="custom-control custom-checkbox" formArrayName="alternatives">
                        <input type="checkbox" class="custom-control-input" [id]="customCheckboxIdentify(i)" [formControlName]="i" (change)="onChangeCheckbox()">
                        <label class="custom-control-label" [for]="customCheckboxIdentify(i)">{{ alternatives[i].name}}</label>
                    </div>
                </div>
            </div>
        </gmat-control-messages>
    </div>
</div>