<div class="row">
    <div class="col-md-12">
        <h5 class="title-gmat-primary d-flex align-items-center">
            GROUP OF ANSWERS
            <button type="button" class="btn-reset ml-2" (click)="onClickAdd()" *ngIf="hasDisabledAddAlternatives()">
                <img src="./assets/img/svg/signo_mas.svg" width="20" alt="">
            </button>
            <ng-content></ng-content>
        </h5>
        <ng-container *ngFor="let alternativagroup of getControls(); let i = index">
            <div class="mb-3">
                <div [formGroup]="alternativagroup" class="form-group content-inputs mb-2 d-flex align-items-start justify-content-between">
                    <gmat-control-messages [control]="alternativagroup.get('name')">
                        <div class="input-group-alternative">
                            <label>{{ getLetters(alternativagroup, i) }}</label>
                            <input type="text" value="" class="form-control" formControlName="name">
                        </div>
                        <h6 style="padding: 10px 10px 0px !important; color: #0fbcf5;" *ngIf="alternativagroup.get('fileName').value">
                            {{ alternativagroup.get('fileName').value }}
                        </h6>
                    </gmat-control-messages>

                    <!-- ALTERNATIVAS DE TIPO SELECTION -->
                    <div class="cont-checkbox d-flex justify-content-center align-items-center ml-2" *ngIf="hasCheckBox()">
                        <input type="checkbox" [id]="i" value="1" formControlName="isTheAnswer" />
                        <label [for]="i"><span></span></label>
                    </div>

                    <!-- ALTERNATIVAS DE TIPO BOOLEAN formControlName="isTheAnswer" -->
                    <div class="cont-checkbox d-flex justify-content-center align-items-center ml-2" *ngIf="hasRadio()">
                        <input type="radio" [id]="i" name="isTheAnswer" [checked]="checkedIsTheAnswer(i)" (change)="onChangeTheAnswer(i, $event)" />
                        <label [for]="i"><span></span></label>
                    </div>

                    <!-- AGREGAR IMAGEN A CADA ALTERNATIVA -->
                    <div class="cont-checkbox d-flex justify-content-center align-items-center ml-1" *ngIf="hasFile()">
                        <input type="file" class="d-none" #file (change)="addFileAlternative($event, alternativagroup)" accept="image/*">
                        <a class="c-pointer" (click)="file.click()">
                            <i class="far fa-image" style="color:#ffb536;font-size: 24px;margin-top: 7px"></i>
                        </a>
                    </div>

                    <!-- ACCION ELIMINAR ALTERNATIVA -->
                    <div class="cont-checkbox d-flex justify-content-center align-items-center ml-2" *ngIf="hasRemove()">
                        <a (click)="onClickDeleteAlternative(i)" class="c-pointer">
                            <i class="far fa-trash-alt" style="color:#ffb536;font-size: 22px;margin-top: 7px"></i>
                        </a>
                    </div>
                </div>
                <ng-container *ngIf="hasSubalternatives">
                    <ng-container *ngFor="let subalternativagroup of getSubControls(alternativagroup); let j = index">
                        <div class="d-flex flex-wrap align-items-center mb-1 ml-4 subalternative" [formGroup]="subalternativagroup">
                            <div>
                                <div class="input-group-alternative">
                                    <input type="text" class="form-control form-gmat-control" formControlName="name">
                                </div>
                            </div>
                            <div class="cont-checkbox d-flex justify-content-center align-items-center pl-1 pr-1">
                                <input type="radio" [id]="'sub-' + i + '-' + j" [name]="'isTheAnswer' + i" (change)="onChangeSubAlternative(getSubControls(alternativagroup), subalternativagroup.get('isTheAnswer'))" [checked]="subalternativagroup.get('isTheAnswer').value ? 'checked' : ''"
                                />
                                <label [for]="'sub-' + i + '-' + j"><span class="p-0 mt-0"></span></label>
                            </div>
                            <div class="cont-checkbox d-flex justify-content-center align-items-center ml-2" *ngIf="j === 0">
                                <a (click)="onClickAddSubAlternative(alternativagroup.get('subAlternatives'))" class="c-pointer">
                                    <i class="fas fa-plus" style="color:#ffb536;font-size: 22px;"></i>
                                </a>
                            </div>
                            <div class="cont-checkbox d-flex justify-content-center align-items-center ml-2" *ngIf="j > 0">
                                <a (click)="onClickDeleteSubAlternative(alternativagroup.get('subAlternatives'), j)" class="c-pointer">
                                    <i class="far fa-trash-alt" style="color:#ffb536;font-size: 22px;"></i>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>