<div class="content-auth-login d-flex justify-content-center align-items-center">
    <div class="content-form-login animated slideInUp">
        <img src="./assets/img/logo.png" class="logo-form" width="350">
        <div class="content-group-inputs d-flex justify-content-center">
            <form [formGroup]="form" (ngSubmit)="signup()">
                <div class="group-inputs-login">
                    <div class="form-group form-admin-login text-center animated fadeInUp">
                        <gmat-control-messages [control]="form.controls.email" class="mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="./assets/img/user.png" width="20">
                                    </div>
                                </div>
                                <input type="text" class="form-control" formControlName="email" placeholder="Username">
                            </div>
                        </gmat-control-messages>
                    </div>
                    <div class="form-group form-admin-login text-center animated fadeIn">
                        <gmat-control-messages [control]="form.controls.password" class="mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="./assets/img/password.png" width="20" height="19">
                                    </div>
                                </div>
                                <input type="password" class="form-control" formControlName="password" placeholder="Password"
                                    autocomplete="off">
                            </div>
                        </gmat-control-messages>
                    </div>
                    <div class="form-group text-center mt-5">
                        <button type="submit" class="btn btn-gmat-warning pr-5 pl-5" [disabled]="loading">{{ !loading ? 'Log in' : 'Loading'}}</button>
                    </div>
                    <div class="form-group text-center">
                        <a routerLink="/recoverkey" class="c-pointer">
                            Did you forget your password ?
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>