<div class="input_increment d-flex align-items-center">
    <div class="value-button" id="decrease" (click)="decreaseValue()" value="Decrease Value">
        <img src="./assets/img/svg/signo_menos.svg" width="7" class="" alt="">
    </div>
    <label id="number">{{ value }}</label>
    <div class="value-button" id="increase" (click)="increaseValue()" value="Increase Value">
        <img src="./assets/img/svg/signo_mas.svg" width="7" class="" alt="">
    </div>
</div>