<div style="display:block;">
    <div class="subContent-lessons aniamted zoomInUp">
        <nav aria-label="breadcrumb" class="mt-3 mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item position-relative d-flex justify-content-center align-items-center" aria-current="page" [ngClass]="i == 0 ? 'active' : ''" *ngFor="let item of navigation; let i = index">
                    <a class="text-center d-flex justify-content-center align-items-center c-pointer" (click)="clickBack(item)">
                        <div *ngIf="i == 0">
                            <img [src]="item.image" width="50" alt="">
                        </div>
                        <div class="ml-2">{{ item.name }}</div>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    <gmat-content>
        <div class="detail-video mt-1 mb-5 aniamted slideInDown">
            <div class="row">
                <div class="col-sm-6 justify-content-center align-items-center mt-5">
                    <gmat-video [mediaSource]="parameters.url" (result)="onChangeTimeOut($event)"></gmat-video>
                </div>
                <div class="col-sm-6">
                    <div class="video-title mb-1 pl-1">
                        {{ parameters.title }}
                    </div>
                    <p class="pl-1 video-text-description text-justify">{{ parameters.description }}</p>
                    <perfect-scrollbar class="scroll-sidebar-content scroll-sidebar-content1">
                        <div class="d-flex justify-content-between mb-4" *ngFor="let item of clipnotes">
                            <div class="">
                                <p class="m-0 time pt-2 pb-2 pl-3 pr-3 d-flex align-items-center"><img src="./assets/img/svg/timer.svg" class="img-fluid mr-2" width="17" alt="">{{ formattime(item.seconds) }}</p>
                            </div>
                            <div class="">
                                <div class="note-clip text-justify">
                                    {{ item.description }}
                                </div>
                                <span class="d-block text-right">{{ item.description.length }}/145</span>
                            </div>
                        </div>
                    </perfect-scrollbar>

                    <div class="d-flex justify-content-between mt-3 mb-4" [formGroup]="form">
                        <div class="">
                            <p class="m-0 time pt-2 pb-2 pl-3 pr-3 d-flex align-items-center"><img src="./assets/img/svg/timer.svg" class="img-fluid mr-2" width="17" alt=""> {{ currentTime }}</p>
                        </div>
                        <gmat-control-messages class="cont-textarea" [control]="form.controls.description">
                            <div class="position-relative">
                                <textarea class="form-control" formControlName="description"></textarea>
                                <div class="button-textarea position-absolute">
                                    <button class="btn btnYellowCommon" type="button" (click)="onClickSave()" [disabled]="!form.valid">Save</button>
                                    <span class="d-block text-right mt-1">{{ form.controls.description.value.length
                                        }}/145</span>
                                </div>
                            </div>
                        </gmat-control-messages>
                    </div>
                </div>
            </div>
        </div>
    </gmat-content>
</div>