<select class="form-control form-gmat-control" (change)="onChangeSelect($event.target.value)" [name]="name" [(ngModel)]="value"> 
    <option value="">Seleccionar</option>
    <option [value]="item.id" *ngFor="let item of data">
        {{ item.name }}
    </option>
</select>