<div class="modal-body animated zoomInRight">
    <h4>
        {{title}}
    </h4>
    <p>
        {{message}}
    </p>
    <div class="modal-confirm-divider"></div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="chart-demo" style="width: 400px !important; height: 400px !important; margin: auto;"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btnYellowCommon" (click)="onClickReturnGraph()" *ngIf="returnGraph">Return Graph</button>
    <button class="btn btnYellowCommon" (click)="bsModalRef.hide()">Close</button>
</div>