<div class="row" [formGroup]="formAlternatives" *ngIf="question">
    <div class="col-md-12">
        <div [innerHTML]="question.question"></div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <ng-container *ngIf="question?.hasHeadersTable">
                    <div class="form-group">
                        <label>Sort:</label>
                        <select class="form-control" (change)="onChangePathImage($event.target.value)">
                            <option value="">- select -</option>
                            <option [value]="item.filePathUrl" *ngFor="let item of question.headerTags"
                                >{{ item.header }}
                            </option>
                        </select>
                    </div>
                    <hr />
                    <div>
                        <img [src]="pathImage" class="img-thumbnai" width="100%" />
                    </div>
                </ng-container>
                <ng-container *ngIf="question?.hasTabs">
                    <!-- <div> -->
                        <tabset>
                            <tab [heading]="header.title" *ngFor="let header of question.tabs" [innerHTML]="header.description"></tab>
                        </tabset>
                    <!-- </div> -->
                </ng-container>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 mb-2" [innerHTML]="question.filesDescription"></div>
                    <div class="col-md-12">
                        <gmat-control-messages [control]="form.get('answersId')">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th *ngFor="let header of (question?.alternatives)[0]?.subAlternatives">
                                            {{ header.name }}
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let alternative of question.alternatives; let i = index">
                                        <tr>
                                            <td class="text-center" *ngFor="let subalternative of alternative.subAlternatives">
                                                <div class="custom-control custom-radio">
                                                    <input
                                                        type="radio"
                                                        [id]="subalternative.id + '-' + alternative.id"
                                                        [name]="'customRadio-' + i"
                                                        class="custom-control-input"
                                                        (change)="onChangeAlternative(i, $event.target.value)"
                                                        [value]="subalternative.id"
                                                    />
                                                    <label
                                                        class="custom-control-label"
                                                        [for]="subalternative.id + '-' + alternative.id"
                                                    ></label>
                                                </div>
                                            </td>
                                            <td [ngClass]="isValidate(i)">
                                                <gmat-alternative-render [data]="alternative"></gmat-alternative-render>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </gmat-control-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
