<nav class="navbar sticky-top navbar-expand-lg bg-dark flex-column animated fadeIn">
    <div class="container text-white header-content">
        <ng-content></ng-content>  
        <div class="exam-header-top animated fadeIn">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                (click)="onClickHideMenu()">
                <i class="fas fa-eye-slash"></i>
                Hide This Menu
            </button>
            <button type="button" class="btn btn-link text-white" data-toggle="button" aria-pressed="false"
                autocomplete="off" (click)="onClickExit()">
                <i class="fas fa-home"></i>
            </button>
        </div>
    </div>
    <div class="container text-white justify-content-center show-menu-content hide-content-menu animated pulse">
        <a (click)="onClickHideMenu()"> <i class="fa fa-eye"></i> SHOW THIS MENU </a>
    </div>
</nav>