<div class="container-fluid pl-2">
    <div class="row">
        <div class="col-sm-5 bg-autentication position-relative d-flex justify-content-center d-flex align-items-end animated fadeIn">
            <img src="./assets/img/achieve.png" class="img-fluid img-achieve d-block" alt="">
        </div>
        <div class="col-sm-7 col-responsive position-relative">
            <ng-content></ng-content>
        </div>
    </div>
</div>