<div class="modal-header animated fadeInDown">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body animated fadeIn slow">
    <div [formGroup]="form">
        <div class="row" *ngIf="alert">
            <div class="col-md-12">
                <alert [type]="alert.type">
                    <strong [innerHtml]="alert.title"></strong>
                    <span [innerHtml]="alert.msg"></span>
                </alert>
            </div>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.name">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off" appTrimGmat="name">
            </gmat-control-messages>
        </div>
        <div class="form-group">

            <gmat-control-messages [control]="form.controls.description">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" formControlName="description" appTrimGmat="description"></textarea>
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.amount">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="amount" formControlName="amount" autocomplete="off" appTrimGmat="amount">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.currency_code">
                <label for="currency_code">Type of currency</label>
                <select class="form-control" id="currency_code" formControlName="currency_code">
                    <option>PEN</option>
                    <option>USD</option>
                </select>
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.interval">
                <label for="interval">Interval</label>
                <input type="text" class="form-control" id="interval" formControlName="interval" autocomplete="off" appTrimGmat="interval">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.interval_count">
                <label for="interval_count">Interval count</label>
                <input type="text" class="form-control" id="interval_count" formControlName="interval_count" autocomplete="off" appTrimGmat="interval_count">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.trial_days">
                <label for="trial_days">Trial days</label>
                <input type="text" class="form-control" id="trial_days" formControlName="trial_days" autocomplete="off" appTrimGmat="trial_days">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.type">
                <label for="type">Type</label>
                <select class="form-control" id="type" formControlName="type">
                    <option>paidOut</option>
                    <option>free</option>
                </select>
            </gmat-control-messages>
        </div>
    </div>
</div>
<div class="modal-footer animated fadeInUp">
    <button type="button" class="btn btn-default btnYellowCommon" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btnYellowCommon" (click)="save()">Save</button>
</div>