<div class="container container-component">
    <h4 class="color-title title-page animated fadeInDown">Manage Pages</h4>
    <div class="d-flex align-items-end justify-content-between content-filter-actions animated slideInRight" [formGroup]="form">
        <div class="d-flex align-items-center form-group actions"></div>
        <div class="form-group text-right filter d-flex justify-content-between align-items-end">
            <div class="">
                <button type="button" (click)="clickOpenNew()" class="btn btnYellowCommon btnYellowCommon2 mr-3">Create</button>
            </div>
            <div>
                <label>A-Z</label>
                <div class="form-group-search">
                    <input type="text" class="form-control" (keyup)="search($event.target.value)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive animated fadeInUp">
            <table class="table table-bordered table-striped table-gmat-default">
                <thead>
                    <tr>
                        <th width="25%" class="text-center">ID</th>
                        <th width="25%" class="text-center">Section</th>
                        <th width="25%" class="text-center">Type</th>
                        <th width="25%" class="text-center">Image</th>
                        <th width="25%" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ContentSearch" *ngFor="let item of pages">
                        <td class="align-middle" width="25%"> {{item.id}}</td>
                        <td class="align-middle" width="25%"> {{item.section}}</td>
                        <td class="align-middle text-center" width="25%">{{item.type}}</td>
                        <td class="align-middle text-center" width="25%">
                            <img [src]="item.image" width="50" *ngIf="item.image">
                        </td>
                        <td class="align-middle text-center" width="25%">
                            <a class="text-gmat-primary m-1" (click)="clickOpenNew(item)">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>