<gmat-page>
    <div class="p-5 common-authentication content-signUp">
        <div class="flex-login animated slideInRight">
            <p class="text-have-account m-0">Already have an account?</p>
            <a routerLink="/" class="btn btn-signUp">
                <img src="./assets/img/icon_login.png" class="img-fluid img-login" style="margin-right: 10px;display: none;" width="25">
                <img src="./assets/img/loginblue.png" class="img-fluid img-login-color" style="margin-right: 10px;" width="25"> Log In
            </a>
        </div>
        <div class="row flex-center height65">
            <div class="col-sm-11">
                <div class="animated slideInRight">
                    <h1 class="text-authentication">Sign Up</h1>
                </div>
                <div class="row mt-5" *ngIf="alert">
                    <div class="col-md-12">
                        <alert [type]="alert.type">
                            <strong [innerHtml]="alert.title"></strong>
                            <span [innerHtml]="alert.msg"></span>
                        </alert>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center  animated slideInRight">
                    <div class="">
                        <div class="text-enterUsing mt-2 mb-2">Enter using</div>
                    </div>
                    <div class="">
                        <a (click)="signInWithFB()"><img src="./assets/img/svg/facebook.svg" width="45" class="img-fluid"></a>
                        <a (click)="signInWithLinkedIn()"><img src="./assets/img/svg/linklnd.svg" width="45" class="img-fluid"></a>
                        <a (click)="signInWithGoogle()"><img src="./assets/img/svg/google.svg" width="45" class="img-fluid"></a>
                    </div>
                </div>
                <form (ngSubmit)="signup()" [formGroup]="form">
                    <div class="row">
                        <div class="col-sm-6 animated slideInUp faster">
                            <div class="form-group">
                                <gmat-control-messages [control]="form.controls.firstName">
                                    <label for="name" class="label-login">First name</label>
                                    <input type="text" class="form-control" formControlName="firstName" autocomplete="off" appTrimGmat="firstName">
                                </gmat-control-messages>
                            </div>
                        </div>
                        <div class="col-sm-6 animated slideInUp faster">
                            <div class="form-group">
                                <gmat-control-messages [control]="form.controls.lastName">
                                    <label for="email" class="label-login">Last name</label>
                                    <input type="text" class="form-control" formControlName="lastName" autocomplete="off" appTrimGmat="lastName">
                                </gmat-control-messages>
                            </div>
                        </div>
                        <div class="col-sm-6 animated slideInUp fast">
                            <div class="form-group">
                                <div class="icon-addon addon-md d-block position-relative">
                                    <gmat-control-messages [control]="form.controls.email">
                                        <label for="cellphone" class="label-login">Email</label>
                                        <input type="text" class="form-control" formControlName="email" autocomplete="off" appTrimGmat="email">
                                        <img src="./assets/img/email@2x.png" width="22" class="img-fluid glyphicon glyphicon2 position-absolute">
                                    </gmat-control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 animated slideInUp fast">
                            <div class="form-group">
                                <div class="icon-addon addon-md d-block position-relative">
                                    <gmat-control-messages [control]="form.controls.cellphone">
                                        <label for="pasword" class="label-login">Cellphone</label>
                                        <input type="text" class="form-control" formControlName="cellphone" autocomplete="off" appTrimGmat="cellphone">
                                        <img src="./assets/img/cellphone@2x.png" width="18" class="img-fluid glyphicon glyphicon-cellphone position-absolute">
                                    </gmat-control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 animated slideInUp">
                            <div class="form-group">
                                <div class="icon-addon addon-md d-block position-relative">
                                    <gmat-control-messages [control]="form.controls.password">
                                        <label for="pasword" class="label-login">Password</label>
                                        <input type="password" class="form-control" formControlName="password" autocomplete="off" appTrimGmat="password">
                                        <img src="./assets/img/passw.png" width="18" class="img-fluid glyphicon position-absolute">
                                    </gmat-control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 animated slideInUp">
                            <div class="form-group">
                                <div class="icon-addon addon-md d-block position-relative">
                                    <gmat-control-messages [control]="form.controls.repeatpassword">
                                        <label for="pasword" class="label-login">Repeat Password</label>
                                        <input type="password" class="form-control" formControlName="repeatpassword" autocomplete="off" appTrimGmat="repeatpassword">
                                        <img src="./assets/img/passw.png" width="18" class="img-fluid glyphicon position-absolute">
                                    </gmat-control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 animated slideInDown">
                            <div class="content-method-payment d-flex align-items-center" (click)="onChangeMethodPaymet($event)">
                                <div class="mr-2">
                                    Add payment method
                                </div>
                                <ul class="list-inline m-0 p-0 content-cards-list">
                                    <li class="list-inline-item m-0"><span class="icon icon-visa"></span></li>
                                    <li class="list-inline-item m-0"><span class="icon icon-mastercard"></span></li>
                                    <li class="list-inline-item m-0"><span class="icon icon-maestro"></span></li>
                                    <li class="list-inline-item m-0"><span class="icon icon-amazon"></span></li>
                                    <li class="list-inline-item m-0"><span class="icon icon-discover"></span></li>
                                </ul>
                                <div class="check-confirm-card" *ngIf="checkcard">
                                    <i class="far fa-check-circle text-success"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-login btnYellowCommon" type="submit" [disabled]="loading">{{ loading ? 'Loading' : 'Register' }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</gmat-page>