.content-cards-list {
    height: 30px;
}

.content-method-payment {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

    .check-confirm-card {
        position: absolute;
        right: 10px;
        font-size: 25px;
    }
}

.icon {
    width: 38px;
    height: 30px;
    display: block;
    background-image: url('/assets/img/credit-card-icons.png');
    background-size: 150px;

    &.icon-visa {
        background-position: 144px -8px;
    }

    &.icon-mastercard {
        background-position: 44px -8px;
    }

    &.icon-american-express {
        background-position: 94px -8px;
    }

    &.icon-maestro {
        background-position: 144px 39px;
    }

    &.icon-amazon {
        background-position: 44px 39px;
    }

    &.icon-discover {
        background-position: 94px 86px;
    }
}