<div class="modal-header animated fadeInUp">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body animated fadeIn slow">
    <div [formGroup]="form">
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.subjectId">
                <label for="subjectId">Selection</label>
                <select class="form-control" formControlName="subjectId" id="subjectId">
                <option value="{{item.id}}" *ngFor="let item of subjects">
                    <span>{{item.name}}</span>
                </option>
            </select>
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.name">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <label for="icon">Icon</label>
            <gmat-control-messages [control]="form.controls.filename">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="add-icon-file" formControlName="filename" aria-describedby="inputGroupFileAddon01" gmat-input-file (change)="changeFile($event)">
                        <label class="custom-file-label" for="add-icon-file">{{ namefile ? namefile : ''}}</label>
                    </div>
                </div>
            </gmat-control-messages>
        </div>
    </div>
</div>
<div class="modal-footer animated fadeInDown">
    <button type="button" class="btn btn-default btnYellowCommon" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btnYellowCommon" (click)="save()">Save</button>
</div>