<ng-container *ngIf="questionList?.questions && questionList?.questions.length === 0">
    <gmat-information-show></gmat-information-show>
    <div class="d-flex justify-content-center w-100">
        <button type="button" class="btn btnYellowCommon" (click)="onClickClose()">Back</button>
    </div>
</ng-container>
<div class="content-common d-block" id="VerbalReasoning" [formGroup]="form" *ngIf="questionList?.questions && questionList?.questions.length > 0">
    <div class="content-questions text-justify mt-3">
        <div class="div-timer pt-1 pb-1 mb-4 pl-2 pr-2">
            <div class="d-flex justify-content-around">
                <span class="d-flex align-items-center"><img src="./assets/img/svg/timer.svg" width="20" class="mr-1"
                        alt="">TIME</span>
                <gmat-chronometer (onValueSecons)="investedTime=$event"></gmat-chronometer>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let item of formArrayQuestion(); let indexQuestion = index">
                <div class="col-md-12 mb-2" *ngIf="indexQuestion === indexCurrent">
                    <div class="d-flex">
                        <span class="number">{{ indexQuestion + 1 }}.</span>
                        <ng-container [ngSwitch]="questionList.questions[indexQuestion].type">
                            <ng-container *ngSwitchCase="questionType.selection">
                                <gmat-alternative-selection [form]="formArrayQuestionByIndex(indexQuestion)" [question]="questionList.questions[indexQuestion]" class="w-100"></gmat-alternative-selection>
                            </ng-container>
                            <ng-container *ngSwitchCase="questionType.boolean">
                                <gmat-alternative-boolean [form]="formArrayQuestionByIndex(indexQuestion)" [question]="questionList.questions[indexQuestion]" class="w-100"></gmat-alternative-boolean>
                            </ng-container>
                            <ng-container *ngSwitchCase="questionType.explanation">
                                <gmat-alternative-explanation [form]="formArrayQuestionByIndex(indexQuestion)" [question]="questionList.questions[indexQuestion]" class="w-100"></gmat-alternative-explanation>
                            </ng-container>
                            <ng-container *ngSwitchCase="questionType.tablesimpleselection">
                                <gmat-alternative-tablesimpleselection [form]="formArrayQuestionByIndex(indexQuestion)" [question]="questionList.questions[indexQuestion]" class="w-100">
                                </gmat-alternative-tablesimpleselection>
                            </ng-container>
                            <ng-container *ngSwitchCase="questionType.yesnomultiplechoice">
                                <gmat-alternative-yesnomultiplechoice [form]="formArrayQuestionByIndex(indexQuestion)" [question]="questionList.questions[indexQuestion]" class="w-100">
                                </gmat-alternative-yesnomultiplechoice>
                            </ng-container>
                            <ng-container *ngSwitchCase="questionType.dropdowncomplement">
                                <gmat-alternative-dropdowncomplement [form]="formArrayQuestionByIndex(indexQuestion)" [question]="questionList.questions[indexQuestion]" class="w-100">
                                </gmat-alternative-dropdowncomplement>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <button class="btn btnYellowCommon m-1" type="button" (click)="onClickBack()" *ngIf="indexCurrent !== 0">Back</button>
                <button class="btn btnYellowCommon m-1" type="button" (click)="onClickConfirm()" *ngIf="indexCurrent !== questionList?.questions?.length - 1">Confirm</button>
                <button class="btn btnYellowCommon m-1" type="button" (click)="onClickFinish()" *ngIf="indexCurrent === questionList?.questions?.length - 1">Finalize</button>
            </div>
        </div>
    </div>
</div>