<div class="content-reports">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center animated fadeInUp">
            <div class="col-md-4">
                <h3 class="text-center mt-3 mb-2">Exam Reports</h3>
                <div class="row">
                    <div class="col-md-12" [formGroup]="form">
                        <accordion class="exam-reports-list">
                            <accordion-group *ngFor="let itemYear of questionsReportsExam" isOpen="true">
                                <button class="btn btn-link btn-block clearfix" accordion-heading>
                                    <div class="pull-left float-left">
                                        <i class="far fa-calendar-alt"></i>
                                        {{itemYear.year}}
                                    </div>
                                </button>
                                <accordion-group *ngFor="let itemMonth of itemYear.months" isOpen="true">
                                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                                        <div class="pull-left float-left pl-2">
                                            {{itemMonth.month}}
                                        </div>
                                    </button>
                                    <accordion-group *ngFor="let itemDay of itemMonth.days">
                                        <button class="btn btn-link btn-block clearfix" accordion-heading>
                                            <div class="pull-left float-left pl-2">
                                                {{itemDay.day}}
                                            </div>
                                        </button>
                                        <div class="row pl-3 pr-3">
                                            <div class="col-md-12">
                                                <div class="custom-control custom-radio"
                                                    *ngFor="let itemHour of itemDay.hours">
                                                    <input type="radio" [id]="'radio-hour-' + itemHour.id"
                                                        name="clientTestId" formControlName="clientTestId"
                                                        class="custom-control-input" [value]="itemHour"  (change)="onChangeExamOrPractice(appliesToType.exam)">
                                                    <label class="custom-control-label"
                                                        [for]="'radio-hour-' + itemHour.id">{{itemHour.hour}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion-group>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center mt-3 mb-2">Practice Reports</h3>
                <div class="row">
                    <div class="col-md-12" [formGroup]="form">
                        <accordion class="exam-reports-list">
                            <accordion-group *ngFor="let itemYear of questionsReportsPractice" isOpen="true">
                                <button class="btn btn-link btn-block clearfix" accordion-heading>
                                    <div class="pull-left float-left">
                                        <i class="far fa-calendar-alt"></i>
                                        {{itemYear.year}}
                                    </div>
                                </button>
                                <accordion-group *ngFor="let itemMonth of itemYear.months" isOpen="true">
                                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                                        <div class="pull-left float-left pl-2">
                                            {{itemMonth.month}}
                                        </div>
                                    </button>
                                    <accordion-group *ngFor="let itemDay of itemMonth.days">
                                        <button class="btn btn-link btn-block clearfix" accordion-heading>
                                            <div class="pull-left float-left pl-2">
                                                {{itemDay.day}}
                                            </div>
                                        </button>
                                        <div class="row pl-3 pr-3">
                                            <div class="col-md-12">
                                                <div class="custom-control custom-radio"
                                                    *ngFor="let itemHour of itemDay.hours">
                                                    <input type="radio" [id]="'radio-hour-' + itemHour.id"
                                                        name="clientTestId" formControlName="clientTestId"
                                                        class="custom-control-input" [value]="itemHour" (change)="onChangeExamOrPractice(appliesToType.practice)">
                                                    <label class="custom-control-label"
                                                        [for]="'radio-hour-' + itemHour.id">{{itemHour.hour}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion-group>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 mt-5">
                <div class="text-center">
                    <button class="btn btn-gmat-warning pr-5 pl-5" (click)="onClickQuestion()"
                        [disabled]="!form.valid">View</button>
                </div>
            </div>
        </div>
    </div>
</div>