<div class="boxCourse pt-4 pb-4 pr-4 pl-4" [formGroup]="form">
    <ng-container *ngIf="getFormArraySelection()?.length; else default">
        <div class="" formArrayName="selection">
            <div class="d-flex justify-content-between align-items-center pb-1 pt-1" *ngFor="let item of getFormArraySelection(); let i = index">
                <div class="">{{ item.get('name').value }}</div>
                <div class="" [formGroupName]="i">
                    <gmat-control-messages [control]="form.get('limit')">
                        <gmat-practice-input-increment formControlName="limit" [range]="selectNode"></gmat-practice-input-increment>
                    </gmat-control-messages>
                </div>
                <a style="text-decoration:none; color: inherit" *ngIf="item.get('reset_needed').value" (click)="onClickReset(item.get('reset_needed').value)" tooltip="Restore questions"><i class="fas fa-redo-alt"></i></a>
                <!-- <button type="button" class="btn btn-link btn-nodes-detail" (click)="onClickRemove(i)">
                    <i class="fas fa-trash-alt"></i>
                </button> -->
            </div>
        </div>
    </ng-container>
    <ng-template #default>
        <div class="">
            <p class="not-detail-nodes">There is no information to show.</p>
        </div>
    </ng-template>

</div>