<div class="modal-body animated zoomInRight">
    <h4>
        {{title}}
    </h4>
    <p>
        {{message}}
    </p>
    <div class="modal-confirm-divider"></div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-confirm btn-confirm-primary w-100"
                (click)="onClickAccept()">Aceptar</button>
        </div>
    </div>
</div>