<perfect-scrollbar class="scroll-sidebar scroll-sidebar-content">
    <ul class="list-unstyled components animated fadeIn">
        <li *ngFor="let item of menuopciones" routerLinkActive="active">
            <a [routerLink]="item.route">{{ item.title }}</a>
        </li>
    </ul>
</perfect-scrollbar>
