<div class="row">
    <div class="col-md-6">
        <gmat-admin-questions-shared-alternatives [formBand]="formBand" [question]="question" [hasSubalternatives]="true">
        </gmat-admin-questions-shared-alternatives>
    </div>
</div>