<div class="row">
    <div class="col-md-12 mb-2" [innerHTML]="question.question"></div>
    <div class="col-md-12">
        <gmat-control-messages [control]="form.get('answersId')">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th *ngFor="let header of (question?.alternatives)[0]?.subAlternatives">
                            {{ header.name }}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let alternative of question.alternatives; let i = index">
                        <tr>
                            <td class="text-center" *ngFor="let subalternative of alternative.subAlternatives; let j = index">
                                <div class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        [id]="subalternative.id + '-' + alternative.id"
                                        [name]="'customRadio-' + j"
                                        class="custom-control-input"
                                        (change)="onChangeAlternative(j, $event.target.value)"
                                        [value]="alternative.id"
                                    />
                                    <label
                                        class="custom-control-label"
                                        [for]="subalternative.id + '-' + alternative.id"
                                    ></label>
                                </div>
                            </td>
                            <td><gmat-alternative-render [data]="alternative"></gmat-alternative-render></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </gmat-control-messages>
    </div>
</div>
