<div class="row" [formGroup]="formAlternatives">
    <div class="col-md-5" *ngIf="question?.questionImageUrl">
        <img [src]="question?.questionImageUrl" width="100%" />
    </div>
    <div class="col-md-12 mb-2" [innerHTML]="question.question"></div>
    <div class="col-md-12">
        <ng-container *ngFor="let alternative of question.alternatives; let i = index">
            <p>
                {{ alternative.name }}&nbsp;
                <select class="answerSelect" (change)="onChangeAlternative(i, $event.target.value)" [disabled]="question?.clientAnswer ? true : false">
                    <option disabled="disabled">Select...</option>
                    <option [value]="subalternative.id" [selected]="alternativeIsChecked(subalternative.id)" *ngFor="let subalternative of alternative.subAlternatives">
                        {{ subalternative.name }}
                    </option>
                </select>
                <gmat-control-messages *ngIf="isTouchedAlternative(form)" [control]="controlsByIndex(i)">
                </gmat-control-messages>
            </p>
        </ng-container>
    </div>
</div>
