<div class="container container-component">
    <h4 class="color-title title-page animated fadeInDown">Manage Subjects</h4>

    <div class="d-flex align-items-end justify-content-between content-filter-actions" [formGroup]="form">
        <div class="d-flex align-items-center form-group actions animated slideInLeft">
            <img src="./assets/img/quantitative reasoning.png" class="mr-2" width="20">
            <select class="form-control" (change)="changeTopic($event.target.value)">
                <option value="">- All -</option>
                <option value="{{item.id}}" *ngFor="let item of topics">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group text-right filter d-flex justify-content-between align-items-end animated slideInRight">
            <div class="">
                <div class="">
                    <div class="">
                        <button type="button" (click)="clickOpenNew()" class="btn btnYellowCommon btnYellowCommon2 mr-3">Create</button>
                    </div>
                </div>
            </div>
            <div class="">
                <label>A-Z</label>
                <div class="form-group-search">
                    <input type="text" class="form-control" formControlName="filter" (keydown.enter)="showData()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 animated fadeInUp">
            <gmat-page-pagination [columns]="setColumns" [pagination]="subjects" (changepage)="showData($event)" (changeedit)="clickOpenNew($event)" (changedelete)="onClickDelete($event)">
            </gmat-page-pagination>
        </div>
    </div>
</div>