<div class="row mt-4">
    <div class="col-md-5">
        <perfect-scrollbar class="scroll-sidebar-content scroll-sidebar-content2">
            <!-- SECTION -->
            <accordion [closeOthers]="true">
                <ng-container *ngFor="let section of nodes">
                    <!-- SECTION NOT DETAIL -->
                    <button class="btn btn-course d-flex justify-content-between align-items-center mb-1" *ngIf="!section.detail?.length">
                        <div class="flex-fill">
                            <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center text-left">
                                <input type="checkbox" [id]="section.node + '-' + section.id" name="cc" (change)="onChangeNode($event.target.checked, section)"/>
                                <label [for]="section.node + '-' + section.id" class="c-pointer"><span></span>{{ section.name }}</label>
                            </div>
                        </div>
                    </button>
                    <!-- END SECTION NOT DETAIL -->
                    <!-- SECTION DETAIL -->
                    <accordion-group panelClass="sidebar-header-practice" *ngIf="section.detail?.length">
                        <button class="btn btn-course d-flex justify-content-between align-items-center" accordion-heading>
                            <div class="flex-fill text-left">
                                <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center text-left">
                                    <input type="checkbox" [id]="section.node + '-' + section.id" name="cc" (change)="onChangeNode($event.target.checked, section)"/>
                                    <label [for]="section.node + '-' + section.id" class="c-pointer"><span></span>{{ section.name }}</label>
                                </div>
                            </div>
                            <img src="./assets/img/svg/signo_mas.svg" class="practice-mas" width="13" alt="">
                            <img src="./assets/img/svg/signo_menos.svg" class="practice-menos" width="13" alt="">
                        </button>
                        <div>
                            <!-- TOPOICS -->
                            <accordion [closeOthers]="true">
                                <ng-container *ngFor="let topics of section.detail">
                                    <!-- SECTION NOT DETAIL  -->
                                    <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center mb-1 c-pointer" *ngIf="!topics.detail?.length">
                                        <input type="checkbox" [id]="topics.node + '-' + topics.id" name="cc" (change)="onChangeNode($event.target.checked, topics)" />
                                        <label [for]="topics.node + '-' + topics.id" class="c-pointer"><span></span>{{ topics.name }}</label>
                                    </div>
                                    <!-- END SECTION NOT DETAIL  -->
                                    <!-- SECTION DETAIL -->
                                    <accordion-group panelClass="sub-header-practice" *ngIf="topics.detail?.length">
                                        <div class="d-flex justify-content-between align-items-center c-pointer" accordion-heading>
                                            <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center mb-1">
                                                <input type="checkbox" [id]="topics.node + '-' + topics.id" name="cc" (change)="onChangeNode($event.target.checked, topics)" />
                                                <label [for]="topics.node + '-' + topics.id" class="pr-2">
                                                    <span></span>
                                                    {{ topics.name }}
                                                </label>
                                            </div>
                                            <img src="./assets/img/svg/signo_mas.svg" class="practice-mas" width="13" alt="">
                                            <img src="./assets/img/svg/signo_menos.svg" class="practice-menos" width="13" alt="">
                                        </div>
                                        <div>
                                            <!-- SUBJECT -->
                                            <accordion [closeOthers]="true">
                                                <ng-container *ngFor="let subject of topics.detail">
                                                    <!-- SUBJECT NOT DETAIL  -->
                                                    <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center mb-1" *ngIf="!subject.detail?.length">
                                                        <input type="checkbox" [id]="subject.node + '-' + subject.id" name="cc" (change)="onChangeNode($event.target.checked, subject)" />
                                                        <label [for]="subject.node + '-' + subject.id" class="c-pointer"><span></span>{{ subject.name }}</label>
                                                    </div>
                                                    <!-- END SUBJECT NOT DETAIL  -->
                                                    <!-- SUBJECT DETAIL -->
                                                    <accordion-group panelClass="sub-header-practice" *ngIf="subject.detail?.length">
                                                        <div class="d-flex justify-content-between align-items-center c-pointer" accordion-heading>
                                                            <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center mb-1">
                                                                <input type="checkbox" [id]="subject.node + '-' + subject.id" name="cc" (change)="onChangeNode($event.target.checked, subject)" />
                                                                <label [for]="subject.node + '-' + subject.id" class="pr-2 c-pointer">
                                                                    <span></span>
                                                                    {{ subject.name }}
                                                                </label>
                                                            </div>
                                                            <img src="./assets/img/svg/signo_mas.svg" class="practice-mas" width="13" alt="">
                                                            <img src="./assets/img/svg/signo_menos.svg" class="practice-menos" width="13" alt="">
                                                        </div>
                                                        <div>
                                                            <!-- SUB-SUBJECT -->
                                                            <ng-container *ngFor="let subsubject of subject.detail">
                                                                <!-- SUB-SUBJECT NOT DETAIL  -->
                                                                <div class="cont-checkbox cont-checkbox2 d-flex justify-content-start align-items-center mb-1" *ngIf="!subsubject.detail?.length">
                                                                    <input type="checkbox" [id]="subsubject.node + '-' + subsubject.id" name="cc" (change)="onChangeNode($event.target.checked, subsubject)" />
                                                                    <label [for]="subsubject.node + '-' + subsubject.id" class="c-pointer"><span></span>{{ subsubject.name }}</label>
                                                                </div>
                                                                <!-- END SUB-SUBJECT NOT DETAIL  -->
                                                            </ng-container>
                                                            <!-- END SUB-SUBJECT -->
                                                        </div>
                                                    </accordion-group>
                                                    <!-- END SUBJECT DETAIL -->
                                                </ng-container>
                                            </accordion>
                                            <!-- END  SUBJECT -->
                                        </div>
                                    </accordion-group>
                                    <!-- END SECTION DETAIL -->
                                </ng-container>
                            </accordion>
                            <!-- END TOPICS -->
                        </div>
                    </accordion-group>
                    <!-- SECTION DETAIL -->
                </ng-container>
            </accordion>
            <!-- END SECTION -->
        </perfect-scrollbar>
    </div>
    <div class="col-md-7">
        <gmat-practice-nodes-detail [item]="selectNode"></gmat-practice-nodes-detail>
    </div>
</div>