/*fonts*/
@font-face {
    font-family: 'Roboto-Regular';
    src        : url('/assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Roboto-Regular.woff') format('woff'),
        url('/assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('/assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src        : url('/assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Roboto-Medium.woff') format('woff'),
        url('/assets/fonts/Roboto-Medium.ttf') format('truetype'),
        url('/assets/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src        : url('/assets/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Roboto-Black.woff') format('woff'),
        url('/assets/fonts/Roboto-Black.ttf') format('truetype'),
        url('/assets/fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src        : url('/assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Roboto-Bold.woff') format('woff'),
        url('/assets/fonts/Roboto-Bold.ttf') format('truetype'),
        url('/assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src        : url('/assets/fonts//assets/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts//assets/fonts/Poppins-SemiBold.woff') format('woff'),
        url('/assets/fonts//assets/fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('/assets/fonts//assets/fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src        : url('/assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Poppins-Medium.woff') format('woff'),
        url('/assets/fonts/Poppins-Medium.ttf') format('truetype'),
        url('/assets/fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src        : url('/assets/fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Nunito-SemiBold.woff') format('woff'),
        url('/assets/fonts/Nunito-SemiBold.ttf') format('truetype'),
        url('/assets/fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Nunito-Regular';
    src        : url('/assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Nunito-Regular.woff') format('woff'),
        url('/assets/fonts/Nunito-Regular.ttf') format('truetype'),
        url('/assets/fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Nunito-Light';
    src        : url('/assets/fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Nunito-Light.woff') format('woff'),
        url('/assets/fonts/Nunito-Light.ttf') format('truetype'),
        url('/assets/fonts/Nunito-Light.svg#Nunito-Light') format('svg');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Nunito-Bold';
    src        : url('/assets/fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Nunito-Bold.woff') format('woff'),
        url('/assets/fonts/Nunito-Bold.ttf') format('truetype'),
        url('/assets/fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: normal;
    font-style : normal;
}
.opacity3{
    opacity: 0.4;
}
.disabled-opacity{
    width: 100%;
    min-height: 427px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.tooltip-inner{
    background-color: @colorLightBlue!important
  }
  .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: @colorLightBlue;
}
/*fonts*/
/* element generales */
body {
    font-family: 'Roboto-Regular', sans-serif;
}

a {
    cursor: pointer;
}

.c-pointer {
    cursor: pointer !important;
}

.btn.disabled,
.btn:disabled {
    pointer-events: none;
    opacity       : 0.5;
}

/**/
.div-timer {
    font-family  : 'Roboto-Medium', sans-serif;
    font-size    : 18px !important;
    background   : #f1f1f1;
    width        : 100%;
    max-width    : 170px;
    display      : block;
    margin       : auto;
    border-radius: 8px;
}

.boxCourse {
    background   : #f1f1f1;
    border-radius: 8px;
}

.input_increment {
    margin       : 0 auto;
    text-align   : center;
    border       : 1px solid #ccc;
    border-radius: 5px;
}

.text-blue {
    color: @colorLightBlue  !important;
}

.color-green {
    color: #6bde00 !important;
}

.value-button {
    display              : inline-block;
    border               : 1px solid transparent;
    margin               : 0px;
    width                : 40px;
    height               : 20px;
    text-align           : center;
    vertical-align       : middle;
    padding              : 11px 0;
    background           : transparent;
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

.value-button:hover {
    cursor: pointer;
}

.input_increment #decrease {
    margin-right   : -4px;
    border-radius  : 8px 0 0 8px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.input_increment #increase {
    margin-left    : -4px;
    border-radius  : 0 8px 8px 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.input_increment #input-wrap {
    margin : 0px;
    padding: 0px;
}

.input_increment #number {
    background   : transparent;
    text-align   : center;
    border       : none;
    border-top   : 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin       : 0px;
    width        : 40px;
    height       : 25px;
}

// .input_increment input[type='number']::-webkit-inner-spin-button,
// .input_increment input[type='number']::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin            : 0;
// }

/*SCROLLBAR*/
.scroll-sidebar-content1 {
    height: 35% !important;
}

.scroll-sidebar-content1>div {
    height: 100px !important;
}

.scroll-sidebar-content2 {
    height   : 100% !important;
    font-size: 14px !important;
}

.scroll-sidebar-content2>div {
    height: 350px !important;
}

.invalid-feedback {
    display: block;
}

.control-message-error {

    .input-group,
    .form-control {
        border       : 1px solid @redColor;
        border-radius: 20px !important;
    }

    .form-control-exam {
        border-radius: 4px !important;
    }

    .content-buttons-inline {
        label {
            border: 1px solid @redColor  !important;
        }
    }

    .ql-toolbar.ql-snow {
        border: 1px solid @redColor;
    }

    .ql-container.ql-snow {
        border: 1px solid @redColor;
    }
}

/* loading */
#loading-bar {
    .bar {
        background: @colorLightBlue  !important;
    }
}

#loading-bar-spinner {
    position: fixed;
    background: rgba(red(@backgroundSidebar),
            green(@backgroundSidebar),
            blue(@backgroundSidebar),
            0.8);
    /* opacity     : 0.8; */
    top            : 0px !important;
    bottom         : 0px;
    left           : 0px !important;
    right          : 0px;
    z-index        : 1051;
    display        : flex !important;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    color          : @whiteColor;
    pointer-events : painted;

    .spinner-icon {
        margin: auto;
        width : 50px !important;
        height: 50px !important;
    }
}

.content-page {
    position: relative;
}

.content-login-account {
    position: absolute;
    top     : 45px;
    right   : 45px;
    z-index : 1000;
}

.scroll-sidebar-content {
    //height: 35% !important;

    .ps .ps__rail-x:hover,
    .ps .ps__rail-y:hover,
    .ps .ps__rail-x:focus,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-x.ps--clicking,
    .ps .ps__rail-y.ps--clicking {
        background-color: transprarent !important;
    }

    .ps__rail-y:hover>.ps__thumb-y,
    .ps__rail-y:focus>.ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
        background-color: @colorLightBlue  !important;
    }

    .ps__thumb-y {
        background-color: @colorLightBlue  !important;
    }

    &>.ps.ps--scrolling-y>.ps__rail-y,
    &>.ps.ps--scrolling-x>.ps__rail-x {
        background-color: #cccccc !important;
    }

    /**/
    .ps.ps--active-y>.ps__rail-y {
        width        : 6px !important;
        border-radius: 15px !important;
    }

    .ps.ps--active-y>.ps__rail-y:hover,
    .ps.ps--active-y>.ps__rail-y.ps--clicking {
        width: 6px !important;
    }

    .ps__rail-y {
        border-radius: 15px;
    }

    .ps__rail-y:hover>.ps__thumb-y,
    .ps__rail-y:focus>.ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
        width: 6px !important;
    }

    .ps__thumb-y {
        right: 0px;
    }

    /**/
}

/* PADDINGS */
.padTop65 {
    padding-top: 65px;
}

.flex-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.btnYellow {
    background   : @btnBackground  !important;
    color        : @btnColor  !important;
    border-radius: @btnRadius;
    font-family  : @btnFamily;
    padding      : @btnPad;
    border       : 1px solid @btnBackground  !important;
    font-size    : @btnSize;

    &:hover {
        background: @btnColor  !important;
        color     : @btnBackground  !important;
        border    : 1px solid @btnBackground  !important;
    }
}

.height65 {
    height: 65vh;
}

.content-common {
    width    : 100%;
    max-width: 700px;
    margin   : auto;
}

/* fin element generales */

/*code comon authentication*/
.bg-autentication {
    background     : url(/assets/img/login.png) no-repeat center;
    background-size: cover;
    height         : 100vh;
    width          : 100%;
}

.img-achieve {
    width        : 100%;
    max-width    : 250px;
    margin-bottom: 10px;
}

.common-authentication .icon-addon:after,
.common-authentication .icon-addon:before {
    display: table;
    content: ' ';
}

.common-authentication .icon-addon:after {
    clear: both;
}

.common-authentication .icon-addon.addon-md .glyphicon,
.common-authentication .icon-addon .glyphicon {
    z-index    : 2;
    left       : 10px;
    font-size  : 14px;
    margin-left: -2.5px;
    text-align : center;
    padding    : 10px 0;
    top        : 30px;
    //width    : 20px;
}

.common-authentication .icon-addon.addon-md .glyphicon2,
.common-authentication .icon-addon .glyphicon2 {
    top: 34px !important;
}

.common-authentication .icon-addon.addon-md .form-control,
.common-authentication .icon-addon .form-control {
    padding-left: 30px !important;
    float       : left;
    font-weight : normal;
}

.text-enterUsing,
.text-addCard {
    font-family: 'Roboto-Bold', sans-serif;
    color      : #1a1c1f;
    font-size  : 20px;
    line-height: 1.2;
}

.label-login,
.text-forgot {
    font-family: 'Roboto-Medium', sans-serif;
    font-size  : 14px;
}

/**/
/* login */

/**/

.btn-login {
    margin-top: 15px;
}

.text-authentication {
    font-family: 'Roboto-Black', sans-serif;
    color      : @textColorLightBlue;
}

.label-login {
    color: @labelText;
}

.text-forgot {
    color: @labelText;
}

.hide-content-menu {
    display: none !important;
}

.show-menu-content {
    a {
        font-size: 12px;
    }
}

@media screen and (max-width: 766px) {
    .img-achieve {
        max-width    : 200px !important;
        margin-bottom: 24px !important;
    }

    .text-authentication {
        text-align: center;
    }

    .col-responsive .p-5 {
        padding: 1rem !important;
    }

    .btn-signUp {
        padding    : 4px 10px !important;
        margin-left: 12px !important;
    }

    .bg-autentication {
        height: 75vh !important;
    }

    .height65 {
        height: auto !important;
    }

    .text-authentication {
        margin-bottom: 20px !important;
    }

    .col-responsive .flex-login {
        flex-wrap    : wrap;
        margin-bottom: 35px !important;
    }
}

.flex-login {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    height         : 38px;
    margin         : 15px auto;
}

.btn-signUp {
    border       : 1px solid @colorLightBlue;
    color        : @colorLightBlue;
    border-radius: 7px;
    padding      : 4px 18px;
    margin-left  : 10px;
    font-family  : 'Roboto-Medium', sans-serif;

    &:hover {
        background: @colorLightBlue;
        color     : @whiteColor;
    }
}

/* fin login */

/* Sign Up */
.btn-signUp:hover .img-login-color {
    display: none;
}

.btn-signUp:hover .img-login {
    display: inline-block !important;
}

.content-signUp .text-authentication {
    margin-bottom: -8px;
}

/**/
.glyphicon-cellphone {
    top: 26px !important;
}

.btn-login {
    margin-top: 15px;
}

/* fin Sign Up */

/* confirm */
.content-confirm .form-group {
    margin-top   : 15px !important;
    margin-bottom: 28px !important;
}

/* fin confirm */

/* recoverkey */
.content-recoverkey {
    width    : 100%;
    max-width: 40%;
}

/* fin recoverkey */

/* header */
.header-nav {
    position  : fixed;
    top       : 0;
    width     : 100%;
    background: #222132;
    padding   : 10px 20px;
    z-index   : 2000;
}

.text-header-signUp {
    color          : @colorLightBlue;
    font-family    : 'Roboto-Medium', sans-serif;
    text-decoration: none;
}

.btn-logIn {
    border       : 1px solid @colorLightBlue;
    font-family  : 'Roboto-Medium', sans-serif;
    color        : @whiteColor;
    padding      : 4px 25px;
    border-radius: 25px;
    margin-left  : 20px;

    &:hover {
        color: @colorLightBlue;
    }
}

.btn-logIn:hover .img-login {
    display: none;
}

.btn-logIn:hover .img-login-color {
    display: inline-block !important;
}

.btn-logIn img {
    margin-right: 8px;
}

.navbar-usersinfo {
    img {
        border-radius: 100%;
        background   : @whiteColor;
    }

    h5 {
        padding    : 10px 10px 0px;
        color      : @whiteColor;
        text-align : right;
        margin     : 0px !important;
        line-height: 0.8;

        a {
            text-decoration: none;
            color          : @whiteColor;
        }

        small {
            font-size: 12px;

            a {
                margin : 0px;
                padding: 0px;
                color  : @grayColor  !important;

                &:hover {
                    color          : @smokeColor  !important;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .header-nav {
        position  : fixed;
        width     : 100%;
        background: @typeBlue;
        padding   : 10px 0;
    }
}

/* fin header */

/* clipnotes */

.clipnotes {
    margin-top: 70px;

    .note-clip {
        max-width: 380px;
        font-size: 14px;
    }

    .scroll-sidebar-content {
        height   : 86% !important;
        font-size: 14px !important;
    }

    .scroll-sidebar-content>div {
        height: 350px !important;
    }

    h3 {
        color        : @colorLightBlue;
        font-family  : 'Roboto-Medium', sans-serif;
        font-size    : 28px;
        border-bottom: 3px solid @colorYellow;
        width        : 100%;
        max-width    : 145px;
        line-height  : 1.6;
    }
}

/*Carousel-videos*/
.carousel-title {
    font-family: 'Roboto-Medium', sans-serif;
    color      : @colorLightBlue;
    font-size  : 20px;
}

.carousel-content {
    color: @leadColor;
}

/* fin clipnotes */

/* content */

/* fin content */

/* footer */

/* fin footer */

/* authenticacion */

/* fin authenticacion */

/* portal platform */
.Tab-Platform {
    .btn-group {
        width        : 100%;
        max-width    : 700px;
        margin       : auto;
        border-bottom: 1px solid #dee2e6;

        .btn-secondary {
            color         : @leadColor;
            border        : 0 solid transparent;
            background    : transparent !important;
            width         : 25%;
            font-family   : 'Roboto-Medium', sans-serif;
            text-transform: uppercase;
            text-align    : center;
            font-size     : 22px;
            cursor        : pointer;

            &:not(:disabled):not(.disabled):active {
                color: @leadColor;
            }

            &.focus,
            &:focus {
                outline   : none !important;
                box-shadow: none !important;
            }
        }

        .active {
            color        : @colorLightBlue  !important;
            border-bottom: 3px solid @colorYellow  !important;
        }
    }

    .nav-tabs {
        width    : 100%;
        max-width: 700px;
        margin   : auto;
    }

    ul.nav.nav-tabs>li {
        width         : 25%;
        font-family   : 'Roboto-Medium', sans-serif;
        text-transform: uppercase;
        text-align    : center;
        font-size     : 22px;

        a {
            color : @leadColor;
            border: 0 solid transparent;
        }

        a.active {
            color        : @colorLightBlue;
            border-bottom: 3px solid @colorYellow;
        }
    }
}

/*platform*/
.cont-temas>div {
    width: 25%;
}

.cont-temas .tab-img-icon {
    width : 85px;
    height: 85px;
    margin: auto;
}

.text-video-lessons {
    font-family: 'Roboto-Medium', sans-serif;
    color      : @specialBlueColor;
    font-size  : 22px;
}

.cont-checkbox input[type='radio'] {
    display: none;
}

.cont-checkbox input[type='radio']+label span {
    display       : inline-block;
    width         : 25px;
    height        : 25px;
    margin        : -1px 4px 0 0;
    vertical-align: middle;
    background    : url('/assets/img/svg/icon_checkbox.svg') left top no-repeat;
    cursor        : pointer;
    text-align    : center;
}

.cont-checkbox input[type='radio']:checked+label span {
    background: url('/assets/img/svg/icon_checked.svg') top no-repeat;
}

.cont-checkbox3 input[type='radio']:checked+label span {
    background: url('/assets/img/svg/checked-question.svg') top no-repeat !important;
    color     : @whiteColor;
}

.content-reports .cont-checkbox input[type='checkbox']:checked+label span {
    background: url('/assets/img/svg/checked-point.svg') top no-repeat !important;
    color     : @whiteColor;
}

/*checkbox*/
.cont-checkbox input[type='checkbox'] {
    display: none;
}

.cont-checkbox input[type='checkbox']+label span {
    display       : inline-block;
    width         : 25px;
    height        : 25px;
    margin        : -1px 4px 0 0;
    vertical-align: middle;
    background    : url('/assets/img/svg/icon_checkbox.svg') left top no-repeat;
    cursor        : pointer;
    // margin-top : 6px !important;
}

.cont-checkbox input[type='checkbox']:checked+label span {
    background: url('/assets/img/svg/icon_checked.svg') left top no-repeat;
}

/*checkbox square*/
.content-reports table .cont-checkbox input[type='checkbox'] {
    display: none;
}

.content-reports table .cont-checkbox input[type='checkbox']+label span {
    display       : inline-block;
    width         : 20px;
    height        : 20px;
    margin        : -1px 4px 0 0;
    vertical-align: middle;
    background    : url('/assets/img/svg/square_checkbox.svg') left top no-repeat !important;
    cursor        : pointer;
}

.content-reports table .cont-checkbox input[type='checkbox']:checked+label span {
    background: url('/assets/img/svg/square_checked.svg') top no-repeat !important;
}

/**/
.subContent-lessons {
    width    : 100%;
    max-width: 700px;
    margin   : auto;
}

.height140 {
    height: 140px;
}

.text-lessons {
    font-family: 'Roboto-Medium', sans-serif;
    color      : @colorLightBlue;
    font-size  : 20px;
    width      : 100%;
    max-width  : 125px;
    margin     : auto;
    line-height: 1.1;
    height     : 50px;
}

.cont-select {
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow    : 2px 2px 5px rgba(0, 0, 0, 0.1);
    background    : #f4f4f4;
    width         : 100%;
    border-radius : 10px;
}

.content-lessons .btnYellowCommon {
    padding: 5px 50px !important;
}

/* content selection*/
.breadcrumb {
    padding   : 0.75rem 0rem;
    flex-wrap : nowrap;
    background: transparent;
}

li.breadcrumb-item {
    width      : 20%;
    height     : auto;
    line-height: 1.1;
}

li.breadcrumb-item a {
    font-family    : 'Roboto-Medium', sans-serif;
    text-decoration: none;
    color          : @leadColor;
    max-width      : 200px;
    width          : 100%;
    padding-right  : 15px;
    font-size: 14px;
}

li.breadcrumb-item.active a {
    font-family    : 'Roboto-Black', sans-serif;
    text-decoration: none;
    color          : @specialBlueColor;
    cursor         : default;
    //
    font-size: 14px;
}

.a-quantitative {
    width       : 120px !important;
    margin-right: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    display      : inline-block;
    padding-right: 0;
    color        : #6c757d;
    content      : '' !important;
    background   : url(/assets/img/svg/arrow-right.svg) no-repeat !important;
    width        : 18px;
    height       : 35px;
    position     : absolute;
    left         : 0;
}

/* profiles */
.img-profile {
    border-radius: 100%;
    overflow     : hidden;
    position     : relative;
    height       : 108px !important;
    width        : 108px !important;

    .img-profile-content {
        border-radius: 100%;
        border       : 4px solid @colorLightBlue;
        width        : 100%;
        height       : 100%;

        img {
            border-radius: 100%;
            height       : 100%;
        }
    }

    a {
        position: absolute;
        background: rgba(red(@blackColor),
                green(@blackColor),
                blue(@blackColor),
                0.5);
        bottom    : 0px;
        left      : 0px;
        right     : 0px;
        font-size : 12px;
        text-align: center;
        padding   : 2px 0px;
        color     : @silverColor  !important;

        &:hover {
            text-decoration: none;
            color          : @whiteColor  !important;
        }
    }
}

.container-porfile {
    padding-top: 6em;
}

.list-info-users {
    padding        : 0px;
    margin         : 0px;
    list-style-type: none;
    padding-left   : 15px;

    li {
        .btn-refresh-datos {
            margin-top: 10px;
            background: @colorLightBlue  !important;
            color     : @whiteColor;

            &:hover,
            &:active,
            &:focus,
            &:link {
                text-decoration: none;
            }
        }
    }
    .icon-size {
        width: 18px;
    }
}

.list-info-users i {
    color: @colorLightBlue  !important;
}

.link-thumbnail-item {
    text-decoration: none;

    .thumbnail-item {
        background-color: @smokeColor  !important;
        width           : 200px;
        height          : 250px;
        padding-left    : 30px;
        padding-right   : 30px;
        margin-left     : 10px;
        margin-right    : 10px;
        text-align      : center;
        border-radius   : 15px;
        box-shadow      : 3px 3px 6px 0px #dfdfdf !important;

        h5 {
            color      : @textColorLightBlue  !important;
            font-weight: bold;
            margin-top : 20px;
        }
    }

    &:hover {
        opacity        : 0.8;
        text-decoration: none;
    }
}

@media screen and (max-width: 668px) {
    .justify-content-center {
        margin-bottom: 1rem !important;
    }

    .content-links-thumbnail-item {
        display: block !important;

        .link-thumbnail-item {
            display   : block !important;
            margin-top: 15px !important;

            .thumbnail-item {
                width       : 100%;
                margin-left : 0px !important;
                margin-right: 10px !important;
            }
        }
    }
}

/* end profiles */

/*PLATFORM-LESSON*/

.subContent-lessons h5 {
    height       : 75px;
    padding-left : 15px;
    padding-right: 15px;
    margin       : 20px auto auto;
    color        : @specialBlueColor;
    font-family  : 'Roboto-Medium', sans-serif;
}

.content-videos .text-title {
    font-family: 'Roboto-Medium', sans-serif;
    color      : @colorLightBlue;
    font-size  : 20px;
}

.content-videos .paragraph {
    font-family: 'Roboto-Regular', sans-serif;
    color      : @gray20;
    font-size  : 14px;
    line-height: 1;
    width      : 100%;
}

.item-content-videos {
    width             : 240px !important;
    border            : 1px solid rgba(red(@gray20), green(@gray20), blue(@gray20), 0.1);
    padding           : 20px;
    -webkit-transition: 0.1s ease-in;
    -o-transition     : 0.1s ease-in;
    transition        : 0.1s ease-in;
    position          : relative;
    background        : @whiteColor;
    margin            : 5px;

    &:hover {
        -webkit-box-shadow: 0 5px 50px rgba(red(@gray20), green(@gray20), blue(@gray20), 0.05);
        box-shadow        : 0 5px 50px rgba(red(@blackColor), green(@blackColor), blue(@blackColor), 0.05);
        -webkit-transform : scale(1.1);
        -ms-transform     : scale(1.1);
        transform         : scale(1.1);
        z-index           : 10;
    }
}

@media screen and (max-width: 765px) {
    .cont-select {
        width        : 100% !important;
        margin-bottom: 20px;
    }

    .cont-temas>div {
        width        : 48% !important;
        margin-bottom: 20px;
    }

    li.breadcrumb-item[_ngcontent-c4] {
        width        : 50%;
        margin-bottom: 20px;
    }

    .subContent-lessons ol.breadcrumb {
        flex-wrap: wrap !important;
    }

    .content-videos>div {
        flex-wrap: wrap;
    }

    .content-videos>div>div {
        display      : block;
        margin       : auto;
        margin-bottom: 25px;
        width        : 100%;
    }

    .img-video {
        width: 100%;
    }

    .content-videos .paragraph {
        width    : 100%;
        max-width: 100%;
    }
}

/*CONTENT QUESTIONS*/
.content-questions {
    font-family: 'Roboto-Regular', sans-serif;
    color      : @leadColor;
}

/*FIN PLATFORM-LESSON*/

/*PLATFORM PRACTICE*/
.content-practice {
    width    : 100%;
    max-width: 900px;
    margin   : auto;
}

.content-practice>div {
    height: 400px;
}

.text-1 {
    font-family: 'Roboto-Black', sans-serif;
    color      : @specialBlueColor  !important;
    font-size  : 30px;
}

.text-2 {
    font-family: 'Roboto-Regular', sans-serif;
    color      : @leadColor;
    font-size  : 21px;
    width      : 100%;
    max-width  : 295px;
    line-height: 1.2;
    margin     : auto;
    height     : 55px;
}

.text-2-1 {
    max-width: 190px;
}

.text-level {
    min-height : 50px;
    font-family: 'Roboto-Medium', sans-serif;
    line-height: 1.1;
    //font-size: 19px;
}

.cont-checkbox2 input[type='radio'] {
    display: none;
}

.cont-checkbox2 input[type='radio']+label span {
    display       : inline-block;
    width         : 25px;
    height        : 25px;
    margin        : 0;
    vertical-align: middle;
    background    : url('/assets/img/svg/icon_checkbox.svg') left top no-repeat !important;
    cursor        : pointer;
}

.cont-checkbox2 input[type='radio']:checked+label span {
    background: url('/assets/img/svg/checked-point.svg') top no-repeat !important;
}

.content-settings {
    width      : 100%;
    max-width  : 760px;
    display    : block;
    margin     : auto;
    color      : @leadColor;
    font-family: 'Roboto-Medium', sans-serif;
}

@media screen and (max-width: 766px) {
    .content-practice>div {
        height: auto !important;
        width : 100%;
    }

    .content-practice>div>div {
        width        : 100%;
        margin-top   : 30px;
        margin-bottom: 20px;
    }
}

.switch {
    font-family: 'Roboto-Bold', sans-serif;
    //font-size: 1rem;
    //color    : @whiteColor;
    //font-size:17px;
}

.switch input {
    position  : absolute;
    height    : 1px;
    width     : 1px;
    background: none;
    border    : 0;
    clip      : rect(0 0 0 0);
    clip-path : inset(50%);
    overflow  : hidden;
    padding   : 0;

    &:focus {
        outline: -webkit-focus-ring-color auto 0 !important;
    }
}

.switch input+label {
    position      : relative;
    min-width     : calc(calc(2.375rem * 0.8) * 2);
    border-radius : calc(2.375rem * 0.8);
    height        : calc(2.075rem * 0.8);
    line-height   : calc(2.075rem * 0.8);
    display       : inline-block;
    cursor        : pointer;
    outline       : none;
    user-select   : none;
    vertical-align: middle;
    text-indent   : calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
}

.switch input+label::before,
.switch input+label::after {
    content : '';
    position: absolute;
    top     : 0;
    left    : 0;
    width   : calc(calc(2.2rem * 0.8) * 2);
    bottom  : 0;
    display : block;
}

.switch input+label::before {
    right           : 0;
    background-color: transparent;
    border-radius   : calc(2.375rem * 0.8);
    transition      : 0.2s all;
    border          : 2px solid @colorLightBlue;
}

.switch input+label::after {
    top             : 0;
    left            : 0;
    width           : calc(calc(2.595rem * 0.8) - calc(2px * 2));
    height          : calc(calc(2.595rem * 0.8) - calc(2px * 2));
    border-radius   : 50%;
    background-color: @colorYellow;
    transition      : 0.2s all;
}

.switch input:checked+label::before {
    background-color: transparent;
}

.switch input:checked+label::after {
    margin-left     : calc(2.375rem * 0.8);
    background-color: @specialBlueColor;
}

.switch input:focus+label::before {
    outline     : none;
    //box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}

.switch input:disabled+label {
    color : #868e96;
    cursor: not-allowed;
}

.switch input:disabled+label::before {
    background-color: #e9ecef;
}

.switch+.switch {
    margin-left: 1rem;
}
.custom-control-input:disabled~.custom-control-label {
    color: inherit!important;
}
.text-numberQuestions,
.numberQuestions,
.text-totalNumber {
    font-family: 'Roboto-Bold', sans-serif;
    color      : @whiteColor;
    font-size  : 17px;
}

.question {
    font-family: 'Roboto-Regular', sans-serif;
    line-height: 1.1;
    color      : @leadColor;
    padding    : 0 8px;
}

.content-questions {
    font-family: 'Roboto-Regular', sans-serif;
    color      : @leadColor;

    .question {
        padding-top: 6px;
    }
}

span.number {
    font-family: 'Nunito-Bold', sans-serif;
    font-size  : 20px;
}

.text-answer-correct {
    font-family: 'Roboto-Black', sans-serif;
    color      : @typeBlue;
    font-size  : 25px;
}

.Written-explication,
.video-explication {
    font-family: 'Roboto-Black', sans-serif;
    color      : @typeBlue;
    font-size  : 20px;
    line-height: 1.1;
}

.content-explication h5 {
    font-family: 'Roboto-Medium', sans-serif;
    color      : #1a1c1f;
    font-size  : 16px;
    margin     : 0;
}

.content-explication {
    background   : @colorLightBlue;
    margin       : 20px 35px;
    padding      : 40px 30px 30px;
    border-radius: 20px;
}

.content-explication p {
    color      : @whiteColor;
    font-family: 'Roboto-Medium', sans-serif;
    font-size  : 15px;
}

.btn-course {
    background  : #f1f1f1;
    color       : @leadColor;
    border      : none;
    width       : 100%;
    // max-width: 250px;
    min-height  : 45px;
    font-size   : 14px;

    &:focus {
        outline   : -webkit-focus-ring-color auto 0 !important;
        box-shadow: none;
    }

    .practice-menos {
        display: none;
    }
}

.sidebar-header-practice {
    border       : unset;
    margin-bottom: 5px;

    .panel-heading {
        padding: 0;
        border : unset;
    }

    .panel-collapse {
        .card-body {
            padding: 0.3rem 1.25rem;
        }
    }
}

.sub-header-practice {
    border: unset;

    .panel-heading {
        background-color: #fff;
        border          : unset;

        .cont-checkbox label {
            margin: unset !important;
        }

        .practice-menos {
            display: none;
        }
    }
}

.btn-img {
    &:focus {
        outline   : -webkit-focus-ring-color auto 0 !important;
        box-shadow: none;
    }
}

.btn-course span {
    width      : 100%;
    max-width  : 133px;
    font-size  : 14px;
    line-height: 1.2;
    text-align : left;
}

.scroll-sidebar-content2 .cont-checkbox2 input[type='checkbox'] {
    display: none;
}

.scroll-sidebar-content2 .cont-checkbox2 input[type='checkbox']+label span {
    display       : inline-block;
    width         : 16x;
    height        : 16px;
    margin        : 0;
    vertical-align: middle;
    background    : url('/assets/img/svg/icon_checkbox.svg') left top no-repeat !important;
    cursor        : pointer;
}

.scroll-sidebar-content2 .cont-checkbox2 input[type='checkbox']:checked+label span {
    background: url('/assets/img/svg/checked-point.svg') left top no-repeat !important;
}

/*FIN PLATFORM PRACTICE*/

/*PLATFORM REPORTS*/
.content-reports {
    font-family: 'Roboto-Regular', sans-serif;
    padding    : 0 50px;
}

.content-reports h3 {
    font-family: 'Roboto-Black', sans-serif;
}

.content-reports table {
    font-size: 15px;
}

.content-reports table thead {
    background: @colorLightBlue;
    color     : @whiteColor;
}

.content-reports tbody tr {
    text-align : center;
    background : #caf5ff;
    color      : #606060;
    font-family: 'Roboto-Medium', sans-serif;
}

.content-reports .table td,
.content-reports .table th {
    border-top: 2px solid @whiteColor;
}

.content-reports thead tr {
    text-align   : center;
    font-family  : 'Roboto-Bold', sans-serif;
    border-bottom: 3px solid @whiteColor  !important;
}

.content-reports th .text-important {
    width      : 90px;
    line-height: 1.1;
    display    : block;
    margin     : auto;
}

.question-list {
    color      : @specialBlueColor;
    font-family: 'Roboto-Black', sans-serif;
    font-size  : 30px;
}

/**/
.video-title {
    color      : @colorLightBlue;
    font-family: 'Roboto-Medium', sans-serif;
    font-size  : 28px;
}

.time {
    color        : @leadColor;
    background   : #f0f0f0;
    border-radius: 12px;
}

.note-clip {
    color       : @leadColor;
    line-height : 1.1;
    width       : 100%;
    max-width   : 350px;
    margin-right: 20px;
    font-size   : 15px;
}

.detail-video span {
    color       : @leadColor;
    font-size   : 12px;
    margin-right: 20px;
}

.cont-textarea {
    width          : 100%;
    max-width      : 350px;
    // margin-right: 20px;
}

.cont-textarea textarea {
    height: 120px;
    resize: none;
}

.button-textarea {
    bottom: 5px;
    right : 10px;
}

.button-textarea .btnYellowCommon {
    padding  : 5px 15px !important;
    font-size: 13px;
}

.btn-nodes-detail {
    color          : @textColorLightBlue;
    text-decoration: none;
}

.panel-open .sidebar-header-practice {
    .panel-heading {
        .panel-title {
            [aria-expanded='true'] {
                .btn-course {
                    .practice-mas {
                        display: none;
                    }

                    .practice-menos {
                        display: block;
                    }
                }
            }
        }
    }
}

.sub-header-practice {
    .panel-heading {
        .panel-title {
            [aria-expanded='true'] {
                .practice-mas {
                    display: none;
                }

                .practice-menos {
                    display: block;
                }
            }
        }
    }
}

/*FIN PLATFORM REPORTS*/

/*fin platform*/
@media screen and (max-width: 765px) {
    .Tab-Platform ul.nav.nav-tabs>li {
        width: 50% !important;
    }
}

/* fin portal platform */
/* clip notes */

.ngucarousel {
    overflow: unset !important;

    .ngu-touch-container {
        overflow: hidden !important;
    }

    .leftRs {
        background     : transparent !important;
        border         : none;
        position       : absolute;
        margin         : auto;
        top            : 0;
        bottom         : 0;
        width          : 50px;
        height         : 50px;
        cursor         : pointer;
        //box-shadow   : 1px 2px 10px -1px rgba(0, 0, 0, .3);
        //border-radius: 999px;
        left           : -50px;

        &:focus {
            outline: 0 auto -webkit-focus-ring-color;
        }
    }

    .rightRs {
        background     : transparent !important;
        border         : none;
        position       : absolute;
        margin         : auto;
        top            : 0;
        bottom         : 0;
        width          : 50px;
        height         : 50px;
        //box-shadow   : 1px 2px 10px -1px rgba(0, 0, 0, .3);
        //border-radius: 999px;
        right          : -50px;
        cursor         : pointer;

        &:focus {
            outline: 0 auto -webkit-focus-ring-color;
        }
    }
}

/* fin clip notes */
/* video */
.content-video {
    width    : 100%;
    max-width: 800px;
    position : relative;
    overflow : hidden;
}

.content-general-videos {
    width : 100%;
    height: 350px;
}

.video-text-description {
    color    : @leadColor;
    font-size: 12px;
}

.content-vide-active {
    &:hover .controls {
        transform: translateY(0);
    }
}

.component-videos {
    width        : 100%;
    height       : 100%;
    position     : relative;
    overflow     : hidden !important;
    border-radius: 15px !important;

    .video-item {
        background      : #ccc;
        cursor          : pointer;
        width           : 100%;
        height          : 100%;
        // border-radius: 20px;
    }

    .video-play {
        top      : 0px;
        left     : 0px;
        right    : 0px;
        bottom   : 0px;
        font-size: 30px;
        position : absolute;
        background-color: rgba(red(@steelColor),
                green(@steelColor),
                blue(@steelColor),
                0.7);
        z-index: 9;

        .btn-video-play {
            border       : 8px solid @whiteColor;
            border-radius: 40px;
            padding      : 25px 45px;
            color        : @whiteColor;
        }
    }

    .video {
        width        : 100%;
        margin-bottom: 5px;
    }

    .controls {
        position  : absolute;
        bottom    : 0px;
        width     : 100%;
        flex-wrap : wrap;
        background: rgba(red(@gray20), green(@gray20), blue(@gray20), 0.7);
        transform : translateY(100%) translateY(0px);
        transition: all 0.2s;
        z-index   : 10;

        .time-bar {
            position        : relative;
            height          : 11px;
            border-radius   : 10px;
            top             : 0;
            left            : 0;
            width           : 100%;
            background-color: @whiteColor;
            // overflow     : hidden;

            .time-juice {
                height          : 100%;
                width           : 0;
                border-radius   : 10px;
                background-color: @colorLightBlue;
            }

            .time-info {
                position     : absolute;
                margin-left  : 10px;
                bottom       : 10px;
                display      : none;
                border       : 1px solid @leadColor;
                color        : @whiteColor;
                font-size    : 12px;
                padding      : 5px;
                border-radius: 5px;
                background   : rgba(red(@blackColor),
                        green(@blackColor),
                        blue(@blackColor),
                        0.7);
            }

            &:hover .time-info {
                display: block;
            }
        }

        .buttons-controls {
            padding: 0px 15px;

            .times-duration-current {
                font-size: 12px;
                padding  : 0px;
                margin   : 0px;
                width    : 80px !important;
                color    : @whiteColor;
            }

            .buttons-left a {
                background: none;
                border    : 0;
                outline   : 0;
                cursor    : pointer;

                &:before {
                    content               : '\f144';
                    font-family           : 'Font Awesome 5 Free';
                    width                 : 30px;
                    height                : 30px;
                    display               : inline-block;
                    font-size             : 20px;
                    color                 : @whiteColor;
                    -webkit-font-smoothing: antialiased;
                }
            }

            .play {
                &:before {
                    content: '\f144' !important;
                }
            }

            .pause {
                &:before {
                    content: '\f28b' !important;
                }
            }

            .btn-contraer,
            .btn-expand {
                color       : @whiteColor;
                padding-left: 10px;
            }

            .btn-contraer {
                display: none;
            }
        }
    }
}

.expan-fullscreen .controls .buttons-controls .btn-expand {
    display: none;
}

.expan-fullscreen .controls .buttons-controls .btn-contraer {
    display: unset;
}

/* fin video */

.content-options {
    margin-left: 40px;
}

.content-collapse-baisc {
    .well {
        .cont-checkbox label {
            margin: 0px !important;
        }
    }
}

.exam-question-explication {
    background-color: #f3f3f3 !important;
    padding         : 15px 25px !important;
    position        : relative;

    .close {
        position: absolute;
        right   : 10px;
        top     : 5px;
        outline : none;
    }
}

.info-exam-platform {
    padding: 8em;
}

.layout-exam {
    height  : auto;
    position: relative;

    section {
        margin-top   : 100px !important;
        margin-bottom: 100px !important;
    }
}
.custom-answers{
    .custom-control {
        label {
            &::before {
                background-color: #fff !important;
                border          : 1px solid @colorLightBlue;
            }
        }
    }
    
    .custom-radio {
        position: relative;
    
        .custom-control-input:checked~.custom-control-label::after {
            content    : '\f111';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            top        : 0.32rem !important;
            margin-left: 0px !important;
            font-size  : 10px;
            color      : @colorLightBlue;
        }
    }
}
.exam-reports-list {
    .panel {
        .card {
            border-width: 0px !important;

            .card-header {
                background-color: transparent !important;
                padding         : 0px;
                margin          : 0px;
                border-width    : 0px !important;

                .panel-title {
                    position: relative;

                    .accordion-toggle {
                        display      : inline-block !important;
                        position     : relative;
                        padding-right: 20px;

                        &[aria-expanded='false']::before {
                            content    : '\f067';
                            position   : absolute;
                            right      : 0px;
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            color      : @colorLightBlue  !important;
                        }

                        &[aria-expanded='true']::before {
                            content    : '\f068';
                            position   : absolute;
                            right      : 0px;
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            color      : @colorLightBlue  !important;
                        }

                        .btn {
                            width  : auto;
                            padding: 0px !important;

                            div {
                                color: @blackColor;

                                i {
                                    color: @colorLightBlue  !important;
                                }

                                .custom-control {
                                    label {
                                        &::before {
                                            background-color: #fff !important;
                                            border          : 1px solid @colorLightBlue;
                                        }
                                    }
                                }

                                .custom-radio {
                                    position: relative;

                                    .custom-control-input:checked~.custom-control-label::after {
                                        content    : '\f111';
                                        font-family: 'Font Awesome 5 Free';
                                        font-weight: 900;
                                        top        : 0.3rem !important;
                                        margin-left: 0px !important;
                                        font-size  : 10px;
                                        color      : @colorLightBlue;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .card-body {
                padding      : 0px;
                padding-left : 15px;
                padding-right: 15px;

                .custom-control {
                    label {
                        &::before {
                            background-color: #fff !important;
                            border          : 1px solid @colorLightBlue;
                        }
                    }
                }

                .custom-radio {
                    position: relative;

                    .custom-control-input:checked~.custom-control-label::after {
                        content    : '\f111';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        top        : 0.3rem !important;
                        margin-left: 0.2rem;
                        font-size  : 10px;
                        color      : @colorLightBlue;
                    }
                }
            }
        }
    }
}

.scroll-table-content {
    max-height   : 400px;
    height       : 100%;
    margin-bottom: 15px !important;
}

.modal {
    z-index: 2002;
}

.modal-backdrop {
    z-index: 2001;
}

.not-detail-nodes {
    text-align: center;
    font-size : 14px;
    padding   : 0px;
    margin    : 0px;
}

/*fin platform*/
@media screen and (max-width: 765px) {
    .list-platform-buttons {
        .row {
            .col-auto {
                width: 100% !important;
            }
        }
    }
}