// variable color de fondo
@background: red;
@backgroundNav: #222132;
@textColorLightBlue: #0fbcf5;
@textColorGeneral: #222132;
@labelText: #666666;
@btnBackground: #ffb536;
@btnSize: 17px; //15
@btnColor: #fff;
@btnRadius: 6px;
@btnFamily: 'Roboto-Medium', sans-serif;
@btnPad: 5px 30px;
/* COLOR */
@redColor: red;
@colorLightBlue: #0fbcf5;
@colorYellow: #ffb536;
@blackColor: #000;
@whiteColor: #fff;
@gray20: #333333;
@shadowColor: #606060;
@leadColor: #666666;
@steelColor: #777b7e;
@grayColor: #989898;
@smokeColor: #f4f4f4;
@silverColor: #dfdfdf;
@silverMirrorColor: #e7e9e4;
@pewterColor: #f5f5f5;
@specialBlueColor: #20375b;
@typeBlue: #222132;
/* FIN COLOR */
@backgroundSidebar: #1b1c20;
@sidebarActive: #2c2d2f;