<nav class="navbar fixed-bottom navbar-light bg-silver  animated fadeIn">
    <div class="container mt-2 content-footer">
        <div class="d-flex justify-content-between w-100 animated fadeIn">
            <div>
                <button class="btn btn-default btn-default-exam" (click)="onClickNavigation(questionActionType.back)"
                    [disabled]="hasBack">
                    Back
                </button>
                <button class="btn btn-default btn-default-exam" (click)="onClickNavigation(questionActionType.next)"
                    [disabled]="hasNext" *ngIf="!hasQuestionCurrent">
                    Next
                </button>
                <button class="btn btn-default btn-default-exam" (click)="onClickSubmit(questionActionType.submit)"
                    [disabled]="hasNext" *ngIf="hasQuestionCurrent">
                    Submit
                </button>
            </div>
            <div>
                <button class="btn btn-default" [ngClass]="{'btn-success-question': true}"
                    (click)="onClickFinish()" [disabled]="hasFinish">
                    Finish
                </button>
            </div>
        </div>
    </div>
</nav>