<gmat-page>
    <div class="content-page">
        <div class="d-flex align-items-center content-login-account animated slideInRight">
            <p class="text-have-account m-0">Already have an account?</p>
            <a routerLink="/" class="btn btn-signUp">
                <img src="./assets/img/icon_login.png" class="img-fluid img-login" style="margin-right: 10px;display: none;" width="25">
                <img src="./assets/img/loginblue.png" class="img-fluid img-login-color" style="margin-right: 10px;" width="25">
                Log In
            </a>
        </div>
        <div class="d-flex justify-content-center align-items-center animated slideInUp" style="height:100vh;">
            <div class="col-sm-7">
                <form [formGroup]="form" (ngSubmit)="confirm()">
                    <div class="">
                        <h1 class="text-authentication">Confirm</h1>
                        <div class="text-enterUsing">Enter the code sent by email<br>to confirm your account:</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="icon-addon addon-md d-block position-relative">
                                    <gmat-control-messages [control]="form.controls.code">
                                        <label for="confirmCode" class="label-login">Confirmation code</label>
                                        <input type="text" class="form-control" formControlName="code" autocomplete="off" appTrimGmat="code">
                                    </gmat-control-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-login btnYellowCommon mr-1" [disabled]="loading">{{ loading ? 'Loading' : 'Accept' }}</button>
                        <button type="button" class="btn btn-login btnYellowCommon mr-1" (click)="onClickResend()">Resend</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</gmat-page>