<div class="content-videos">
    <div class="detail-video clipnotes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  animated fadeInUp">
                    <h4 class="text-left mt-5 mb-5 text-blue">
                        <img src="./assets//img/see target score.png" width="40">
                        See target score
                    </h4>
                </div>
                <div class="col-sm-12">
                    <div id="chart-demo"></div>
                </div>
            </div>
        </div>
    </div>
</div>