<div class="content-reports">
    <div class="animated pulse">
        <div class="mt-3 mb-3 question-list text-center">Question List</div>
        <perfect-scrollbar class="scroll-table-content scroll-sidebar-content">
            <table class="table table-hover m-0">
                <thead>
                    <tr class="position-static">
                        <th>
                            <div class="cont-checkbox d-flex justify-content-center align-items-center">
                                <input type="checkbox" id="question-all" name="question-all" (change)="onChangeCheckAll($event.target)" />
                                <label for="question-all">
                                    <span></span>
                                </label>
                            </div>
                        </th>
                        <th>ID</th>
                        <th>Section</th>
                        <th>Topic</th>
                        <th>Subject</th>
                        <th>Sub-subject</th>
                        <th>Difficulty</th>
                        <th>
                            <div class="text-important">
                                <div class="d-flex align-items-center">Correct incorrect
                                    <img src="./assets/img/svg/icon_important_white.svg" class="" width="15" alt="">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="text-important">
                                <div class="d-flex align-items-center">Average time
                                    <img src="./assets/img/svg/icon_important_white.svg" class="" width="15" alt="">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="text-important">
                                <div class="d-flex align-items-center"> User time
                                    <img src="./assets/img/svg/icon_important_white.svg" class="" width="15" alt="">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="text-important">
                                <div class="d-flex align-items-center">Percent correct
                                    <img src="./assets/img/svg/icon_important_white.svg" class="" width="15" alt="">
                                </div>
                            </div>
                        </th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!questionList">
                        <td colspan="12" class="text-center">There is no information to show</td>
                    </tr>
                    <tr *ngFor="let item of questionList">
                        <td>
                            <div class="cont-checkbox d-flex justify-content-center align-items-center">
                                <input type="checkbox" [id]="'question-' + item.id" name="question[]" [value]="item.id" (change)="onChangeQuestion()" />
                                <label [for]="'question-' + item.id"><span></span></label>
                            </div>
                        </td>
                        <td>{{item.question.code}}</td>
                        <td>{{item.question?.sectionName ? item.question?.sectionName : '-'}}</td>
                        <td>{{item.question?.topicName ? item.question?.topicName : '-'}}</td>
                        <td>{{item.question?.subjectName ? item.question?.subjectName : '-'}}</td>
                        <td>{{item.question?.subSubjectName ? item.question?.subSubjectName : '-'}}</td>
                        <td>{{item.question.difficulty | titlecase}}</td>
                        <td>{{item.isCorrect >= typeCorrect.correct ? 'Correct' : 'Incorrect'}}</td>
                        <td>{{renderTime(item.investedTime)}} mm</td>
                        <td>{{renderTime(item.question.averageTime)}} mm</td>
                        <td>{{item.question.correctPercent*100}}%</td>
                        <td>
                            <a class="c-pointer" (click)="onClickOpenExplanation(item)">
                                <img src="./assets/img/svg/icon_eye.svg" class="" width="20" alt="">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </perfect-scrollbar>
        <div class="d-flex justify-content-end list-platform-buttons">
            <div class="row">
                <div class="col-auto form-group">
                    <button class="btn btn-gmat-warning w-100" type="button" (click)="onClickBack()">Back </button>
                </div>
                <div class="col-auto form-group">
                    <button class="btn btn-gmat-warning w-100" type="button" (click)="onClickResolveMark()" [disabled]="!hasResolveMark()">Resolve mark </button>
                </div>
                <div class="col-auto form-group">
                    <button class="btn btn-gmat-warning w-100" type="button" (click)="onClickTryAgain()">Try again</button>
                </div>
                <div class="col-auto form-group">
                    <button class="btn btn-gmat-warning w-100" type="button" (click)="onClickOpenChart()">
                        <i class="fas fa-chart-area"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>