<gmat-exam-header>
    <ul class="nav time-out">
        <li class="nav-item">
            <label>
                Test time:
                <span>
                    <i class="far fa-clock"></i>
                    <span class="pl-1 pr-1">
                        <gmat-chronometer (onValueSecons)="onValueTotalInvestedTime($event)" #chronometerExam>
                        </gmat-chronometer>
                    </span>
                </span>
            </label>
        </li>
        <li class="nav-item">
            <label> Question: {{ questionList[questionIndex]?.question?.questionOrder }} of {{ questionList?.length }}
            </label>
        </li>
        <li class="nav-item">
            <label>
                Time spent on this question:
                <span>
                    <i class="far fa-clock"></i>
                    <span class="pl-1 pr-1">
                        <gmat-chronometer (onValueSecons)="onValueIvestedTime($event)" #chronometerQuestion>
                        </gmat-chronometer>
                    </span>
                </span>
            </label>
        </li>
    </ul>
</gmat-exam-header>


<div [formGroup]="form">
    <ng-container *ngFor="let item of formArrayQuestion(); let i = index">
        <section class="container mt-4 mb-4" style="padding-bottom: 3em;" *ngIf="questionIndex === i">
            <h5 class="title-exam animated fadeIn">
                {{ questionList[i]?.question?.sectionName }} ::
                {{ questionList[i]?.question?.topicName }} ::
                {{ questionList[i]?.question?.code }}
            </h5>
            <hr />
            <div class="row">
                <div class="col-md-12 animated fadeIn" [ngSwitch]="questionList[i]?.question?.type">
                    <ng-container *ngSwitchCase="questionFormatType.selection">
                        <gmat-alternative-selection [form]="formArrayQuestionByIndex(i)"
                            [question]="questionList[i]?.question"></gmat-alternative-selection>
                    </ng-container>
                    <ng-container *ngSwitchCase="questionFormatType.boolean">
                        <gmat-alternative-boolean [form]="formArrayQuestionByIndex(i)"
                            [question]="questionList[i]?.question"></gmat-alternative-boolean>
                    </ng-container>
                    <ng-container *ngSwitchCase="questionFormatType.explanation">
                        <gmat-alternative-explanation [form]="formArrayQuestionByIndex(i)"
                            [question]="questionList[i]?.question">
                        </gmat-alternative-explanation>
                    </ng-container>
                    <ng-container *ngSwitchCase="questionFormatType.tablesimpleselection">
                        <gmat-alternative-tablesimpleselection [form]="formArrayQuestionByIndex(i)"
                            [question]="questionList[i]?.question">
                        </gmat-alternative-tablesimpleselection>
                    </ng-container>
                    <ng-container *ngSwitchCase="questionFormatType.yesnomultiplechoice">
                        <gmat-alternative-yesnomultiplechoice [form]="formArrayQuestionByIndex(i)"
                            [question]="questionList[i]?.question">
                        </gmat-alternative-yesnomultiplechoice>
                    </ng-container>
                    <ng-container *ngSwitchCase="questionFormatType.dropdowncomplement">
                        <gmat-alternative-dropdowncomplement [form]="formArrayQuestionByIndex(i)"
                            [question]="questionList[i]?.question">
                        </gmat-alternative-dropdowncomplement>
                    </ng-container>
                </div>
            </div>
        </section>
    </ng-container>
</div>

<gmat-exam-footer [hasBack]="onHasBack()" [hasNext]="onHasNext()" [hasFinish]="onHasFinish()" (onNavigation)="onNavExam($event)"
    (onSubmit)="onNextExam()" (onFinish)="onFinishExam()"></gmat-exam-footer>