<div class="wrapper">
    <!-- Sidebar  -->
    <nav class="sidebar-content animated slideIn" [ngClass]="toggle ? 'active' : ''">
        <button type="button" class="close" [ngClass]="toggle ? 'active' : ''" data-dismiss="alert" aria-label="Close" (click)="toggleNavigation()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="sidebar-header">
            <img src="./assets/img/logo.png" width="100%">
        </div>
        <gmat-page-sidebar></gmat-page-sidebar>
        <div class="content-action-user">
            <a (click)="onClickSignOut()">Sign out</a>
        </div>
    </nav>
    <!-- Page Content  -->
    <div class="page-content">
        <div class="position-relative">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="container d-flex justify-content-between">
                    <div>
                        <a class="btn-navbar" (click)="toggleNavigation()">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center animated fadeInDown">
                        <img src="./assets/img/icon-user.png" width="40" height="40">
                        <h4 class="name-user">
                            Front-End Developer
                        </h4>
                    </div>
                </div>
            </nav>
            <ng-content></ng-content>
            <div class="loading-page-content loading-page-admin d-flex justify-content-center align-items-center">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </div>
    </div>
</div>
<div class="overlay" [ngClass]="toggle ? 'active' : ''" (click)="toggleNavigation()"></div>