<div class="container container-component">
    <h4 class="color-title title-page animated fadeInDown">Manage Questions</h4>
    <div class="d-flex align-items-end justify-content-between content-filter-actions" [formGroup]="form">
        <div class="d-flex align-items-center form-group actions"></div>
        <div class="form-group text-right filter  d-flex justify-content-between align-items-end animated slideInRight">
            <div class="">
                <div class="">
                    <a routerLink="/admin/questions/new" class="btn btnYellowCommon btnYellowCommon2 mr-3 c-pointer">Create</a>
                </div>
            </div>
            <div class="">
                <label>A-Z</label>
                <div class="form-group-search">
                    <input type="text" class="form-control" formControlName="filter" (keydown.enter)="showData()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 animated fadeInUp">
            <gmat-page-pagination [columns]="setColumns" [pagination]="questions" (changepage)="showData($event)" (changeedit)="onClickEdit($event)">
            </gmat-page-pagination>
        </div>
    </div>
</div>