.your-plan-info {
    line-height: 1;
    padding-left: 10px;
    margin-bottom: 15px;
    .text-amount {
        font-weight: bold;
        font-size: 30px;
    }
    p {
        font-weight: bold;
        font-size: 25px;
    }
}