<div class="content-videos">
    <div class="detail-video clipnotes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animated fadeInUp">
                    <h4 class="text-left mt-5 mb-5 text-blue">
                        <img src="./assets//img/uprade your plan.png" width="40" />
                        Upgrade your plan
                    </h4>
                </div>
                <div class="col-sm-12 mb-5 animated fadeInDown">
                    <div class="d-flex justify-content-around align-items-center mt-5 mb-5" *ngIf="subscriptions">
                        <ng-container *ngFor="let item of subscriptions">
                            <div class="your-plan-content text-center">
                                <div class="d-flex align-items-start justify-content-center">
                                    <div class="mb-2 cont-checkbox cont-checkbox2 d-flex justify-content-center align-items-center">
                                        <input type="radio" [id]="'radio-' + item.id" name="cc" (change)="onChangeSubscription(item)" />
                                        <label [for]="'radio-' + item.id"><span></span></label>
                                    </div>
                                    <div class="your-plan-info">
                                        <div class="text-amount">
                                            {{ item.amountRender + '' + item.currency_code }}
                                        </div>
                                        <p>First {{ item.trial_days }} Days</p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btnYellowCommon btnYellow ml-1" (click)="onClickAddPaymet($event)" [disabled]="!subscription || checkcard">
                        Add payment method
                    </button>
                    <button type="button" class="btn btnYellowCommon btnYellow ml-1" (click)="onClickPaymet($event)" [disabled]="!checkcard">
                        Buy Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>