<div class="modal-header animated fadeInUp">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body animated fadeIn slow">
    <div [formGroup]="form">
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.section">
                <label for="name">Section</label>
                <input type="text" class="form-control" id="section" formControlName="section" autocomplete="off">
            </gmat-control-messages>
        </div>
        <div class="form-group">
            <label for="icon">Image</label>
            <gmat-control-messages [control]="form.controls.filename">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="filename" (change)="changeFile($event)" accept="image/x-png,image/gif,image/jpeg">
                        <label class="custom-file-label" for="add-icon-file">{{ namefile ? namefile : ''}}</label>
                    </div>
                </div>
            </gmat-control-messages>
        </div>
    </div>
</div>
<div class="modal-footer animated fadeInDown">
    <button type="button" class="btn btn-default btnYellowCommon" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btnYellowCommon" (click)="save()">Save</button>
</div>