/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'assets/less/variables.less';
@import 'assets/less/admin.less';
@import 'assets/less/main.less';
@import 'assets/less/icons.less';
@import 'aos/dist/aos.css';
@import 'assets/css/font-awesome.min.css';
@import '~animate.css/animate.min.css';
@import '~quill/dist/quill.snow.css';
@import '~katex/dist/katex.min.css';
// @import '~quill/dist/quill.bubble.css';
// @import '~quill/dist/quill.core.css';

.textarea-editor {
    height: 200px;
    position: relative !important;
}
.ql-snow .ql-tooltip.ql-flip {
    position: absolute;
    left: 0px !important;
}