<hr>
<div class="row" [formGroup]="form">
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="title-gmat-primary d-flex align-items-center">
                <ng-container *ngIf="formBand.get('hasHeadersTable').value">
                    HEADERS
                    <button type="button" class="btn-reset ml-2" (click)="onClickAddHeaders()">
                        <img src="./assets/img/svg/signo_mas.svg" width="20" alt="">
                    </button>
                </ng-container>
                <ng-container *ngIf="formBand.get('hasTabs').value">
                    TABS
                    <button type="button" class="btn-reset ml-2" (click)="onClickAddTabs()">
                        <img src="./assets/img/svg/signo_mas.svg" width="20" alt="">
                    </button>
                </ng-container>
            </h5>
            <div class="d-flex justify-content-end align-items-center content-action-save">
                <p>Table Analysis</p>
                <label class="switch-admin">
                    <input type="checkbox" (change)="onChangeToggle($event.target.checked)">
                    <span class="slider round"></span>
                </label>
                <p>Multi-source</p>
            </div>
        </div>
    </div>
    <ng-container *ngIf="formBand.get('hasHeadersTable').value">
        <div class="col-md-6">
            <div [formGroup]="item" *ngFor="let item of getHeadersControls(); let i = index;">
                <div class="d-flex flex-wrap">
                    <div class="flex-fill">
                        <div class="p-1">
                            <gmat-control-messages [control]="item.get('header')">
                                <input type="text" class="form-control form-gmat-control" placeholder="Header"
                                    formControlName="header">
                            </gmat-control-messages>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <div class="p-1 alter-form-control">
                            <gmat-control-messages [control]="item.get('file')">
                                <input type="text" class="form-control form-gmat-control" formControlName="fileName"
                                    placeholder="File" #inputFileName>
                                <input type="file" class="d-none" #file
                                    (change)="onChangeFileHeader($event.target.files[0], item, inputFileName)"
                                    accept="image/*">
                                <button type="button" class="btn btn-gmat" (click)="file.click()"><i
                                        class="fas fa-upload"></i></button>
                            </gmat-control-messages>
                        </div>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-gmat" (click)="onClickRemoveHeaders(i)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <gmat-admin-questions-shared-alternatives [formBand]="formBand" [question]="question"
                        [hasSubalternatives]="true">
                    </gmat-admin-questions-shared-alternatives>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <gmat-control-messages [control]="formBand.get('filesDescription')">
                <gmat-textarea-editor formControlName="descriptions" placeholder="Description">
                </gmat-textarea-editor>
            </gmat-control-messages>
        </div>
    </ng-container>
    <ng-container *ngIf="formBand.get('hasTabs').value">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mb-2" [formGroup]="item" *ngFor="let item of getTabsControls(); let i = index;">
                    <div class="form-group content-buttons-inline">
                        <label class="pt-1 pb-1 pl-5 pr-5">TAB {{ i + 1 }}</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-gmat-control" formControlName="title"
                            placeholder="Title">
                    </div>
                    <gmat-textarea-editor formControlName="description" placeholder="Description">
                    </gmat-textarea-editor>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <gmat-admin-questions-shared-alternatives [formBand]="formBand" [question]="question" [hasSubalternatives]="true">
            </gmat-admin-questions-shared-alternatives>
        </div>
    </ng-container>
</div>
<hr>