<div class="content-settings mt-5 pt-3" [formGroup]="form">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-8">
            <gmat-control-messages [control]="form.get('level')">
                <div class="d-flex align-items-center">
                    <div class="pr-4">
                        <p class="m-0" style="font-size: 18px">Level:</p>
                    </div>
                    <div class="flex-fill">
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div class="" *ngFor="let item of levels; let i = index">
                                <div class="mb-2 cont-checkbox cont-checkbox2 d-flex justify-content-center align-items-center">
                                    <input type="radio" [id]="item.id" formControlName="level" name="level" [value]="item.id" (click)="onClickLevel(item.id)" />
                                    <label [for]="item.id"><span></span></label>
                                </div>
                                <p class="text-level m-0">{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </gmat-control-messages>
        </div>
        <div class="col-md-3">
            <!-- Normal switch -->
            <div class="form-group">
                <gmat-control-messages [control]="form.get('timed')">
                    <span class="switch position-relative d-flex justify-content-between">
                    <p class="m-0 mr-3">Timed</p>
                    <input type="checkbox" class="switch" id="timed" formControlName="timed">
                    <label for="timed"></label>
                </span>
                </gmat-control-messages>
            </div>
        </div>
    </div>

    <div class="row mt-4 position-relative" [ngClass]="opacity ? 'opacity3' : ''">
        <div class="disabled-opacity" *ngIf="opacity"></div>
        <div class="col-md-12">
            <gmat-practice-nodes-content [nodes]="nodesList" [level]="level"></gmat-practice-nodes-content>
        </div>
        <div class="col-md-12">
            <div class="mt-3 text-right">
                <button class="btn btnYellow" (click)="onClickConfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>