<div class="header-nav animated fadeInDown fast">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center header-content">
            <div class="">
                <a class="c-pointer" [routerLink]="['/']">
                    <img src="./assets/img/logo.png" class="img-fluid" width="230" alt="">
                </a>
            </div>
            <div class="">
                <a routerLink="/subscriptions" class="text-header-signUp">Sign Up</a>
                <a routerLink="/" class="btn btn-logIn">
                    <img src="./assets/img/svg/login.svg" class="img-fluid img-login" width="24" alt="">
                    <img src="./assets/img/svg/login-color.svg" class="img-fluid img-login-color" style="display: none" width="24" alt=""> Log In
                </a>
            </div>
        </div>
    </div>
</div>

<div class="content-subscription padTop65">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center mt-5 mb-5 animated fadeInDown">
            <img src="./assets/img/achieve.png" class="img-fluid" width="300" alt="">
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5 mb-5 animated fadeIn" *ngIf="subscriptions">
            <div class="cont-amount text-center" *ngFor="let item of subscriptions">
                <div class="text-amount">{{ item.amountRender + '' + item.currency_code }}</div>
                <!-- <p>First {{ item.trial_days }} Days</p> -->
                <div class="text-freedays">
                    <div>
                        {{ item.name }}<br>
                        <span>{{ item.description }}</span>
                    </div>
                </div>
                <!-- <a class="btn btnYellowCommon" *ngIf="item.id === 1" [routerLink]="['/signup', item.id]">Try Now</a>
                <a class="btn btnYellowCommon" *ngIf="item.id === 2" [routerLink]="['/signup', item.id]">Suscribe</a>
                <a class="btn btnYellowCommon" *ngIf="item.id === 3" [routerLink]="['/signup', item.id]">Buy Now</a> -->
                <a class="btn btnYellowCommon" [routerLink]="['/signup', item.id]">Buy Now</a>
            </div>
        </div>
    </div>
</div>