.content-subscription {
    background: url(/assets/img/home.png)no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.text-amount {
    color: #0fbcf5;
    font-size: 70px;
    font-family: 'Roboto-Bold', sans-serif;
    line-height: 1.4;
}

.cont-amount p {
    color: #0fbcf5;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 18px;
}

.text-freedays {
    color: #1a1c1f;
    font-family: 'Roboto-Black', sans-serif;
    line-height: 1.3;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.text-freedays span {
    color: #1a1c1f;
    font-family: 'Roboto-Regular', sans-serif;
}