<div class="modal-header animated fadeInDown">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body animated fadeIn slow">
    <div [formGroup]="form">
        <div class="form-group">
            <gmat-control-messages [control]="form.controls.name">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </gmat-control-messages>
        </div>
        <gmat-control-messages [control]="form.controls.filename">
            <label for="icon">Icon</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="add-icon-file" formControlName="filename" aria-describedby="inputGroupFileAddon01" gmat-input-file (change)="changeFile($event)">
                    <label class="custom-file-label" for="add-icon-file">{{ namefile ? namefile : ''}}</label>
                </div>
            </div>
        </gmat-control-messages>
        <div class="row">
            <div class="col-md-6">
                <gmat-control-messages [control]="form.controls.hasGraphic">
                    <div class="form-group mt-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" formControlName="hasGraphic">
                            <label class="custom-control-label" for="customCheck">Includes graphic</label>
                        </div>
                    </div>
                </gmat-control-messages>
            </div>
            <div class="col-md-6">
                <gmat-control-messages [control]="form.controls.adaptive">
                    <div class="form-group mt-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="adaptiveCheck" formControlName="adaptive">
                            <label class="custom-control-label" for="adaptiveCheck">Adaptive</label>
                        </div>
                    </div>
                </gmat-control-messages>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer animated fadeInUp">
    <button type="button" class="btn btn-default btnYellowCommon" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btnYellowCommon" (click)="save()">Save</button>
</div>